@model IEnumerable<prjEShopping.Models.EFModels.Product>
@{
    ViewBag.Title = "StoreMain";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
@section Styles
    {
    <style>
        .btn-blue {
            color: #fff;
            background-color: #0D47A1;
            border-color: #0D47A1;
        }
            
    </style>
    }

<div class="bg-light">

    <!-- 左邊篩選器 -->
    <div class="container py-3">
        <div class="container mt-3 bg-success rounded pb-3">
            <div class="row">
                <div class="col-3 ">
                    <input type="hidden" value="@ViewBag.SellerId" />
                    <div class="row">
                        <img src="~/img/@ViewBag.StoreImage" class="mt-2 mb-2">
                    </div>
                    <div class="row">
                        <h3 class="text-center">@ViewBag.Storename</h3>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-4 d-flex align-items-center">
                            <span class="fs-4 fw-bold">商品：</span>
                        </div>
                        <div class="col-8">
                            <span class="fs-4 fw-bold text-danger">
                                @Model.Count()個
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        <span class="fs-4 fw-bold">評價 :</span>
                    </div>
                    <div class="col-8">
                        <span class="fs-4 fw-bold text-danger">@ViewBag.AvgRating</span><span class="fs-4 fw-bold text-danger mx-2">顆星</span><span class="fs-4 fw-bold text-danger">(</span><span class="fs-4 fw-bold text-danger">@ViewBag.RatingCount</span><span class="fs-4 fw-bold text-danger">個評價)</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        <span class="fs-4 fw-bold">關注中 :</span>
                    </div>
                    <div class="col-8">
                        <span class="fs-4 fw-bold text-danger">@ViewBag.CollectedCount</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex align-items-center">
                        <span class="fs-4 fw-bold">聊聊表現 :</span>
                    </div>
                    <div class="col-8">
                        <span class="fs-4 fw-bold text-danger">50%</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 d-flex align-items-center">

                    </div>
                    @{
                        if (@ViewBag.TrackSeller)
                        {
                            <div class="col-8">
                                <button class="btn-blue btn rounded-pill btn-lg mt-4" id="track-btn">
                                    <i class="fas fa-heart custom-heart" id="track-btn-content"> 關 注 中</i>
                                </button>
                            </div>
                        }
                        else
                        {
                            <div class="col-8">
                                <button class="btn-outline-primary btn rounded-pill btn-lg mt-4" id="track-btn">
                                    <i class="fas fa-heart custom-heart" id="track-btn-content">加入關注</i>
                                </button>
                            </div>
                        }
                    }
                </div>
                </div>
                <div class="col-5">
                    <div class="col-4 d-flex align-items-center">
                        <span class="fs-4 fw-bold">賣場介紹 :</span>
                    </div>
                    <div class="col-8">
                        <span class="fs-4 fw-bold">
                            @ViewBag.StoreIntro
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-3 bg-success rounded pb-3">
            <div class="d-flex justify-content-between">
                <h2 class="pt-3 ps-2 fw-bold fs-3 text">折價券專區</h2>
            </div>
            <div class="bg-white border-1 d-flex flex-wrap">
                <div class="d-flex me-2 coupon-item mb-2">
                    <img src="~/img/coupon.png" alt="">
                    <div class="d-flex flex-column p-2 bg-info">
                        <p>Apple折價券</p>
                        <p>Apple全館打85折</p>
                        <button type="button" class="btn btn-secondary ms-3">領取</button>
                    </div>
                </div>
                <div class="d-flex me-2 coupon-item mb-2">
                    <img src="~/img/coupon.png" alt="">
                    <div class="d-flex flex-column p-2 bg-info">
                        <p>Apple折價券</p>
                        <p>Apple全館打85折</p>
                        <button type="button" class="btn btn-secondary ms-3">領取</button>
                    </div>
                </div>
                <div class="d-flex me-2 coupon-item mb-2">
                    <img src="~/img/coupon.png" alt="">
                    <div class="d-flex flex-column p-2 bg-info">
                        <p>Apple折價券</p>
                        <p>Apple全館打85折</p>
                        <button type="button" class="btn btn-secondary ms-3">領取</button>
                    </div>
                </div>
                <div class="d-flex me-2 coupon-item mb-2">
                    <img src="~/img/coupon.png" alt="">
                    <div class="d-flex flex-column p-2 bg-info">
                        <p>Apple折價券</p>
                        <p>Apple全館打85折</p>
                        <button type="button" class="btn btn-secondary ms-3">領取</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-3 bg-success rounded pb-3">
            <h2 class="pt-3 ps-2 fw-bold fs-3 text">推薦商品</h2>
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3">
                <div class="col">
                    <div class="card w-100">
                        <img src="~/img/product15.jpg" class="card-img-top px-4 pt-4" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">PlayStation 5 主機</h5>
                            <p class="card-text text-danger fw-bold">$17,880</p>
                            <a href="#" class="btn btn-secondary">了解更多...</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card w-100">
                        <img src="~/img/product15.jpg" class="card-img-top px-4 pt-4" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">PlayStation 5 主機</h5>
                            <p class="card-text text-danger fw-bold">$17,880</p>
                            <a href="#" class="btn btn-secondary">了解更多...</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="container mt-3 bg-success rounded pb-3" >
            <h2 class="pt-3 ps-2 fw-bold fs-3 text">熱賣商品</h2>
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3" id="Top5"> 
            </div>
        </div>
        <div class="row py-2">
            <div class="col-3 d-flex flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <i class="fa-solid fa-bars"></i>
                        <span class="ms-2">所有分類</span>
                    </div>
                    <button class="btn btn-secondary mt-2" id="isSelected">搜尋</button>
                </div>
                    @{ 
                                var a = ViewBag.CategoriesGroupDetails as List<prjEShopping.Models.DTOs.SellerStoreGroupByCategoryIdDto>;
                                var b = a.GroupBy(item => item.CategoryId);
                                foreach (var itemCate in b)
                                {
                                    <div class="fs-5">
                                        <i class="fa-solid fa-caret-down"></i><a href="#" class="link-blue text-decoration-none fw-bold">@itemCate.FirstOrDefault().CategoryName</a>
                                    </div>
                                    var distinctSubcateNames = itemCate.Select(x => new{ x.SubcateName ,x.SubcategoryId} ).Distinct();
                                    foreach ( var itemSub in distinctSubcateNames)
                                    {
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="@itemSub.SubcategoryId" id="@itemSub.SubcategoryId" >
                                                <label class="form-check-label">
                                                    @itemSub.SubcateName
                                                </label>
                                            </div>
                                        }
                                }
                }
                <hr>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-bars"></i><span class="ms-2">品牌</span>
                </div>
                @{
                        foreach (var item in ViewBag.Brands)
                        {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="@item.BrandId" id="@item.BrandId">
                                    <label class="form-check-label">
                                        @item.BrandName
                                    </label>
                                </div>
                        }    
                    }
                
                <hr>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-bars"></i><span class="ms-2">價格範圍</span>
                </div>
                <div class="d-flex">
                    <input type="text" class="form-control" placeholder="$最小值" aria-label="Username"
                           aria-describedby="basic-addon1" id="pricelow">
                    <span class="pt-3">―――</span>
                    <input type="text" class="form-control" placeholder="$最大值" aria-label="Username"
                           aria-describedby="basic-addon1" id="pricehigh">
                </div>
                <hr>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-bars"></i><span class="ms-2">評價</span>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label">
                        <i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-solid fa-star"
                                                                                   style="color: #ffe180;"></i><i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-solid fa-star"
                                                                                                                                                                                                                                  style="color: #ffe180;"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label">
                        <i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-solid fa-star"
                                                                                   style="color: #ffe180;"></i><i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-regular fa-star"
                                                                                                                                                                                                                                  style="color: #ffe180;"></i>或以上
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label">
                        <i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-solid fa-star"
                                                                                   style="color: #ffe180;"></i><i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-regular fa-star" style="color: #ffe180;"></i><i class="fa-regular fa-star"
                                                                                                                                                                                                                                    style="color: #ffe180;"></i>或以上
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label">
                        <i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-solid fa-star"
                                                                                   style="color: #ffe180;"></i><i class="fa-regular fa-star" style="color: #ffe180;"></i><i class="fa-regular fa-star" style="color: #ffe180;"></i><i class="fa-regular fa-star"
                                                                                                                                                                                                                                      style="color: #ffe180;"></i>或以上
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label">
                        <i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-regular fa-star"
                                                                                   style="color: #ffe180;"></i><i class="fa-regular fa-star" style="color: #ffe180;"></i><i class="fa-regular fa-star" style="color: #ffe180;"></i><i class="fa-regular fa-star"
                                                                                                                                                                                                                                      style="color: #ffe180;"></i>或以上
                    </label>
                </div>
                <hr>
                <div class="btn btn-secondary mt-2">清除全部</div>





            </div>

            <!-- 右邊內容 -->
            <div class="col-9">
                <div class="bg-warning p-3">
                    <span class="me-3">篩選</span>
                    <button type="button" class="btn btn-outline-blue me-3 mb-1" id="btnAll">全部</button>
                    <button type="button" class="btn btn-outline-blue me-3 mb-1" id="btnHot">最熱銷</button>
                    <button type="button" class="btn btn-outline-blue me-3 mb-1" id="btnPriceHight">價格：高到低</button>
                    <button type="button" class="btn btn-outline-blue mb-1" id="btnPriceLow">價格：低到高</button>
                </div>
                <!-- 商品開始 -->
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3 mt-2" id="productContainer">
                    @{
                        foreach ( var item in Model)
                        {
                            string productName = item.ProductName;
                            if (productName.Length > 25)
                            {
                                productName = productName.Substring(0, 25);
                            }
                        <div class="col">
                            <div class="card w-100">
                                <img src="~/img/@item.ProductImagePathOne" class="card-img-top px-4 pt-4" alt="...">
                                <div class="card-body">
                                    <p class="card-title">@productName</p>
                                    <p class="card-text text-danger fw-bold">@string.Format("{0:C0}", item.Price)</p>                           
                                    @Html.ActionLink("了解更多...", "UserSingleProduct", "UserProduct", new { productid = item.ProductId }, new { Class = "text-decoration-none btn btn-secondary mb-2" })
                                </div>
                            </div>
                        </div>
                        }
                       }
                    
                </div>
                <!-- 商品結束 -->
                <!-- 分頁標籤 -->
                <nav aria-label="Page navigation example ">
                    <ul class="pagination justify-content-center mt-3">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
@section Scripts
    { 
    <script>
            const selTop5 = document.querySelector('#Top5');

            function LoadTop5()
            {
                const xhr = new XMLHttpRequest();
                xhr.open('GET', '@Url.Content("~/SellerStore/getTop5Product")');
                xhr.send();

                xhr.addEventListener('load', () => {
                    const datas = JSON.parse(xhr.responseText);
                    var products = datas.map(product => {
                        return (`<div class="col">
                            <div class="card w-100">
                                <img src="/img/${product.ProductImagePathOne}" class="card-img-top px-4 pt-4" alt="...">
                                    <div class="card-body">
                                        <input type="hidden" value="${product.ProductId}">
                                        <p class="card-title">${product.ProductName.substring(0, 25)}</p>
                                        <p class="card-text text-danger fw-bold">${product.PriceWithCurrency}</p>
                                        <a href="@Url.Action("UserSingleProduct", "UserProduct")?productid=${product.ProductId}"" class="btn btn-secondary">了解更多...</a><span class="text-danger fw-bold mx-2">已售出:${product.QuantitySold}</span>
                                    </div>
                            </div>
                        </div>`)
                    })
                    selTop5.innerHTML = products.join("");
                })
            }



        $(document).ready( function () {
                LoadTop5();

                var products = @Html.Raw(Json.Encode(Model)); // 將 Model 序列化為 JSON 字串
                $("#btnAll").css({ "background-color": "#0D47A1", "color": "white" })//預設樣式被點選

                function filterSelected() {
                    var selectedSubcategories = [];
                    var selectedBrands = [];

                    // 循環通過所有可能的 SubcategoryId
                    var subcategoryIds = @Html.Raw(Json.Encode(ViewBag.SubcategoryIds));
                    subcategoryIds.forEach(function (subcategoryId) {
                        if ($("#" + subcategoryId).prop("checked")) {
                            selectedSubcategories.push(subcategoryId);
                        }
                    });

                    var brandIds = @Html.Raw(Json.Encode(ViewBag.BrandsIds));
                    brandIds.forEach(function (brandId) {
                        if ($("#" + brandId).prop("checked")) {
                            selectedBrands.push(brandId);
                        }
                    });

                    var minPrice = parseFloat($("#pricelow").val());
                    var maxPrice = parseFloat($("#pricehigh").val());


                    // 如果沒有選中任何 SubcategoryId，則返回所有產品
                    if (selectedSubcategories.length === 0 && selectedBrands.length === 0 && isNaN(minPrice) && isNaN(maxPrice)) {
                        return products;
                    }


                    // 篩選那些 SubcategoryId 在選中列表中的產品
                    return products.filter(function (product) {
                        var subcategoryMatch = selectedSubcategories.length === 0 || selectedSubcategories.includes(product.SubcategoryId);
                        var brandMatch = selectedBrands.length === 0 || selectedBrands.includes(product.BrandId);
                        var priceMatch = (isNaN(minPrice) && isNaN(maxPrice)) || (product.Price >= minPrice && product.Price <= maxPrice) || (product.Price >= minPrice && isNaN(maxPrice) || (isNaN(minPrice) && product.Price <= maxPrice));

                        return subcategoryMatch && brandMatch && priceMatch;

                    });
                }

                $("#isSelected").on('click', function () {
                    products = @Html.Raw(Json.Encode(Model));
                    products = filterSelected();
                    updateProductContainer();

                });

                function updateProductContainer() {
                var container = $("#productContainer");
                container.empty();

                $.each(products, function(index, item) {
                    var productCard = `
                        <div class="col">
                            <div class="card w-100">
                                <img src="/img/${item.ProductImagePathOne}" class="card-img-top px-4 pt-4" alt="...">
                                <div class="card-body">
                                    <p class="card-title">${item.ProductName.substring(0, 25)}</p>
                                    <p class="card-text text-danger fw-bold">NT$${Math.floor(item.Price).toLocaleString()}</p>
                                    <a href="@Url.Action("UserSingleProduct", "UserProduct")?productid=${item.ProductId}" class="btn btn-secondary">了解更多...</a>
                                </div>
                            </div>
                        </div>
                    `;
                    container.append(productCard);
                });
                }
            });

        var trackBtn = document.getElementById("track-btn");
        var trackBtnContent = document.getElementById("track-btn-content");
        // 设置初始状态
        var isTracked = @Html.Raw(Json.Encode(ViewBag.TrackSeller));


        trackBtn.addEventListener("click", function () {

            if (isTracked) {
                trackBtnContent.innerText = "加入關注";
                trackBtn.classList.remove("btn-blue");
                trackBtn.classList.add("btn-outline-primary");
            } else {
                trackBtnContent.innerText = " 關 注 中";
                trackBtn.classList.remove("btn-outline-primary");
                trackBtn.classList.add("btn-blue");
            }


            isTracked = !isTracked;
        });

    </script>
    }
