@model prjEShopping.Models.ViewModels.SellerRegisterVM
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutUserLogin.cshtml";
}
@if (TempData["Fail"] != null)
{
    <script>alert("@TempData["Fail"].ToString()")</script>
}



<div class="col-8 col-md-9 col-lg-9 col-xl-10 container bg-warning rounded-2 border border-info border-1 ">
    <p class="fs-4 mt-3 fw-bold">基本資料</p>
    <hr>
        @using (Html.BeginForm("Create", "SellerRegister", FormMethod.Post,
           new { enctype = "multipart/form-data" }))
        {
            <div class="row col-md-6 bg-warning rounded" style="float:right">
                <div class="col-3">
                    賣場照片:
                </div>
                <div class="col-6">
                    <div class="mb-3">
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.photo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input class="form-control" type="file" id="photo" name="photo123">
                        </div>
                        <div id="div-preivew">
                            <img src="#" id="preview" alt="預覽圖" />
                        </div>
                    </div>
                </div>
                <div class="col-3"></div>
            </div>
            <div class="row col-md-6 bg-warning rounded justify-content:end">
                <div class="col-sm-9">
                    <div class="row mb-2">
                        <div class="col-5 d-flex align-items-center">
                            <span>統編：</span>
                        </div>
                        <div class="col-7">
                            @Html.EditorFor(model => model.GUINumber, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-5 d-flex align-items-center">
                            <span>負責人姓名：</span>
                        </div>
                        <div class="col-7">
                            @Html.EditorFor(model => model.SellerName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-5 d-flex align-items-center">
                            <span>商家姓名：</span>
                        </div>
                        <div class="col-7">
                            @Html.EditorFor(model => model.StoreName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-5 d-flex align-items-center">
                            <span>使用者帳號<br />(電子郵件)：</span>
                        </div>
                        <div class="col-7">
                            @Html.EditorFor(model => model.SellerAccount, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-5 d-flex align-items-center">
                            <span>使用者密碼：</span>
                        </div>
                        <div class="col-7">
                            @Html.EditorFor(model => model.SellerPassword, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-5 d-flex align-items-center">
                            <span>住址：</span>
                        </div>
                        <div class="col-7">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        </div>

                    </div>
                    <div class="row mb-2">
                        <div class="col-5 d-flex align-items-center">
                            <span>手機號碼：</span>
                        </div>
                        <div class="col-7">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-5 d-flex align-items-center">
                            <span>銀行帳戶：</span>
                        </div>
                        <div class="col-7">
                            @Html.EditorFor(model => model.BankAccount, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-5 d-flex align-items-center">
                            <span>支付方式：</span>
                        </div>
                        <div class="col-7">
                            @Html.DropDownListFor(model => model.PaymentMethodId, new SelectList(new List<SelectListItem>
                            {
                                new SelectListItem { Value = "1", Text = "現金" },
                                new SelectListItem { Value = "2", Text = "信用卡" }
                            }, "Value", "Text"), "請選擇", new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-5 d-flex align-items-center">
                            <span>取貨方式：</span>
                        </div>
                        <div class="col-7">
                            @Html.DropDownListFor(model => model.ShippingMethodId, new SelectList(new List<SelectListItem>
                            {
                                new SelectListItem { Value = "1", Text = "超商取貨" },
                                new SelectListItem { Value = "2", Text = "宅配到府" },
                                new SelectListItem { Value = "3", Text = "黑貓宅急便" }
                            }, "Value", "Text"), "請選擇", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-5 d-flex align-items-center">
                            <span>商城介紹：</span>
                        </div>
                        <div class="col-7">
                            @Html.EditorFor(model => model.StoreIntro, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    
                    
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="送出並新增" class="btn btn-secondary" style="float:right" />
                            </div>
                        </div>
                    
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <a href="@Url.Action("Login","SellerLogin")" class="btn btn-outline-primary">返回首頁</a>
                        </div>
                    </div>
                    <div class="btn btn-light border border-3" id="btndemocreate">demo</div>
                </div>
            </div>
        }
</div>




@section Styles{
    <style>
        #div-preivew {
            width: 300px;
            height: 200px;
            visibility: hidden;
            margin: 10px;
        }

        #preview {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    </style>
}
@section Scripts{
    <script>
        const xhr = new XMLHttpRequest();
        const input = document.getElementById("photo")
        const form = document.querySelector("form");
        console.log(document.formUpload)
        input.addEventListener('change', () => { //有變動的狀況

            if (input.files.length === 0) {
                //無上傳檔案，div不顯示
                $("#div-preivew").css("visibility", "hidden")
            } else {
                //有上傳檔案，div顯示，圖片顯示

                var reader = new FileReader();
                reader.readAsDataURL(input.files[0])
                reader.addEventListener('load', (e) => {
                    $("#div-preivew").css("visibility", "visible")

                    $("#preview").attr("src", e.target.result)
                })

            }
        })
        //表單點擊送出
        //$("form").submit((event) => {
        //    event.preventDefault()
        //    var xhr = new XMLHttpRequest();

        //    var formData = new FormData(document.formUpload);
        //    formData.append('file', input.files[0])

        //    xhr.open('POST', '/api/UploadProfilePhoto')
        //    xhr.send(formData)

        //})
        //form.addEventListener('submit', (event) => {
        //    event.preventDefault();
        //    const formData = new FormData(form);
        //    formData.append('file', input.files[0]);

        //    fetch('/SellerRegister/Create', {
        //        method: 'POST',
        //        body: formData
        //    })
        //        .then(response => response.json())
        //        .then(data => {
        //            // 處理伺服器回傳的資料...
        //            alert("送出並新增成功！");
        //            window.location.href = "/SellerRegister/List"; // 可導向會員列表頁面
        //        })
        //        .catch(error => {
        //            // 處理錯誤情況...
        //            alert("送出並新增失敗！請檢查輸入資料。");
        //        });
        //});
        const GUINumber = document.querySelector('#GUINumber')
        const SellerName = document.querySelector('#SellerName')
        const StoreName = document.querySelector('#StoreName')
        const SellerAccount = document.querySelector('#SellerAccount')
        const SellerPassword = document.querySelector('#SellerPassword')
        const Address = document.querySelector('#Address')
        const Phone = document.querySelector('#Phone')
        const BankAccount = document.querySelector('#BankAccount')
        const StoreIntro = document.querySelector('#StoreIntro')


        const btndemocreate = document.querySelector('#btndemocreate')

        btndemocreate.addEventListener('click', () => {
            GUINumber.value = "29428318"
            SellerName.value = "Gary"
            StoreName.value = "UA"
            SellerAccount.value = "Gary@gmail.com"
            SellerPassword.value = "1234"
            Address.value = "Kaohsiung"
            Phone.value = "0954213245"
            BankAccount.value = "0532445123456"
            StoreIntro.value = "EASY SHOPPING"
        })
    </script>
}

