@model IEnumerable<prjEShopping.Models.EFModels.ADPoint>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SellerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GUINumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADPoints)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SellerId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GUINumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADPoints)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ADPointId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ADPointId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ADPointId })
        </td>
    </tr>
}

</table>
