@model IEnumerable<prjEShopping.Models.ViewModels.ADPointVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminelse.cshtml";
}

<div class="col-10 bg-secondary overflow-auto pt-4">
    <h2>廣告點數購買紀錄</h2>
    <form method="post">
        <input type="text" id="search" name="search" />
        <input type="submit" id="searchbtn" value="搜尋" class="btn btn-primary my-2" />
    </form>
    <table class="table table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SellerId)
            </th>
            <th>商家名稱</th>
            <th>
                @Html.DisplayNameFor(model => model.GUINumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatus)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td data-seller-id="@item.SellerId">
                    @Html.DisplayFor(modelItem => item.SellerId)
                </td>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.GUINumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentStatusName)
                </td>
            </tr>
        }

    </table>
</div>

@section Scripts{
    <script>
        var sellers = @Html.Raw(Json.Encode(ViewBag.Sellers));

        $(document).ready(function () {
            $('td[data-seller-id]').each(function () {
                var sellerId = $(this).data('seller-id');
                var storeName = sellers.find(s => s.SellerId == sellerId).StoreName;
                $(this).next().text(storeName); // 假設下一個 <td> 是要顯示 StoreName 的地方
            });
        });
    </script>
    
    }