@model IEnumerable<prjEShopping.Models.ViewModels.SupportVM>

@{
    ViewBag.Title = "CSBList";
    Layout = "~/Views/Shared/_LayoutAdminlogin.cshtml";
}

<h2>客服信件一覽</h2>

<p>
    @Html.ActionLink("新建客服信", "CSBSendMail", new { id = @ViewBag.SellerId }, new { @class = "btn btn-primary" })
</p>
<div class="container">
    <table class="table table-primary table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SupportNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportStatus)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SupportNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupportType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupportTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedTime)
                </td>
                <td>
                    @(item.SupportStatus=="新進單"?"已發送":@item.SupportStatus)
                </td>
                <td>
                    @Html.ActionLink("開啟", "CSBReplay", new { id = item.SupportId }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }

    </table>

</div>