@model prjEShopping.Models.ViewModels.SupportDetailViewModel

@{
    ViewBag.Title = "CSSReplay";
    Layout = "~/Views/Shared/_LayoutAdminelse.cshtml";
}

<h2>客服信件回覆</h2>

<div class="container">
    <div class="border border-2 border-primary rounded rounded-2 px-2 py-2 bg-primary">
        <h5 class="border border-1 text-white">信件編號:@Html.DisplayFor(model => model.Support.SupportNumber)</h5>
        <div class="border border-2 border-primary rounded rounded-2 my-2 px-2 py-2 bg-white">
            <h5 class="border border-1">信件標題:@Html.DisplayFor(model => model.Support.SupportTitle)</h5>
            <h5 class="border border-1">發信時間:@Html.DisplayFor(model => model.Support.ReceivedTime)</h5>
            @if (@Model.Support.ProductId != null)
            {
                <a href="@Url.Action("Index", "AdminProducts")" class="btn btn-secondary my-2" id="btn-addon1">選擇商品</a>
            }
            <h5 class="border border-1">發信時間:@Html.DisplayFor(model => model.Support.ReceivedTime)</h5>
        </div>
        <div class="border border-2 border-primary rounded rounded-2 my-2 px-2 py-2 bg-white">
            <div>
                <textarea class="border border-1" style="width:100%;height:300px"> @Html.DisplayFor(model => model.Support.SupportText)</textarea>
            </div>
            <div class="my-2">
                @if (@Model.Support.ImageLink != null)
                {
                    <img src="~/img/@Model.Support.ImageLink" style="width:200px" />
                }
            </div>
        </div>
    </div>
    @if (@Model.SupportReplies.Count > 0)
    {
        <div class="row">
            <div class="col-1"></div>
            <div class="col-11">
                <div class="border border-2 border-info rounded rounded-2 px-2 py-2 my-2 bg-info">
                    <h5>回覆內容：</h5>
                    @foreach (var item in Model.SupportReplies)
                    {
                        <div class="border border-2 border-info rounded rounded-2 my-2 px-2 py-2 bg-white">
                            @if (ViewBag.AdminId == @item.AdminId)
                            {
                                <h5 class="border border-1 bg-primary text-white">客服端的回覆</h5>
                            }
                            else
                            {
                                <h5 class="border border-1 bg-info text-white">用戶的回覆</h5>
                            }
                            <h5 class="border border-1">回覆時間:@Html.DisplayFor(modelItem => item.ReplayTime)</h5>
                            <textarea class="border border-1" style="width:100%;height:200px">@Html.DisplayFor(modelItem => item.ReplayText)</textarea>

                            @if (@item.ImageLink != null)
                            {
                                <img src="~/img/@item.ImageLink" style="width:200px" />
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    <div class="border border-2 border-secondary rounded rounded-2 px-2 py-2 bg-secondary">
        <form method="post" enctype="multipart/form-data">
            <div class="border border-2 border-primary rounded rounded-2 px-2 py-2">
                <input type="text" id="SupportId" name="SupportId" class="form-control" value="@Model.Support.SupportId" hidden />
                <input type="text" id="AdminId" name="AdminId" class="form-control" value="@ViewBag.AdminId" hidden />
                <input type="text" id="ReplayTime" name="ReplayTime" class="form-control" value="@DateTime.Now" hidden />
                <textarea id="ReplayText" name="ReplayText" class="form-control" style="height:300px"></textarea>
                <input class="form-control" type="file" id="ImageFile" name="ImageFile">
                <img id="imagePreview" src="" alt="" style="width:200px;" class="my-3" hidden />

            </div>
            <input type="submit" value="回覆" class="btn btn-primary my-2" />
            <button type="button" id="btnUpdate" class="btn btn-danger my-2">已完成</button>
            @Html.ActionLink("取消", "CSSList", null, new { @class = "btn btn-info my-2" })
        </form>
    </div>
</div>
@section Scripts{
    <script>
                //看圖片用
                $(document).ready(function () {
                    $('#ImageFile').change(function (e) {
                        var reader = new FileReader();

                        reader.onload = function (e) {
                            // 顯示圖片預覽
                            $('#imagePreview').attr('src', e.target.result);
                            $('#imagePreview').removeAttr('hidden');
                        }

                        reader.readAsDataURL(this.files[0]);
                    });
                });

                //更新信件狀態
                $(document).ready(function(){
                    $("#btnUpdate").click(function(){
                    $.ajax({
                    url: '@Url.Action("UpdateStatus", "Support2")',
                     type: 'POST',
                    data: { id: @Model.Support.SupportId }, // 這裡是您要傳遞的值
                    success: function(response) {
                     if (response.success) {
                     alert(response.message);
                     } else {
                        alert(response.message);
                     }
                    }
                 });
                 });
                });
    </script>
}

@section Styles{
    <style>
    </style>
}
