@model prjEShopping.Models.ViewModels.SupportVM

@{
    ViewBag.Title = "CSSSendMail";
    Layout = "~/Views/Shared/_LayoutAdminelse.cshtml";
}

@using (Html.BeginForm("CSSSendMail", "Support2", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <h2>客服寄信</h2>
        <input type="text" id="SupportStatus" name="SupportStatus" value="新寄送" hidden />
        @Html.ValidationMessageFor(model => model.SupportStatus, "", new { @class = "text-danger" })
        <input type="datetime" id="ReceivedTime" name="ReceivedTime" value="@DateTime.Now" hidden />
        @Html.ValidationMessageFor(model => model.ReceivedTime, "", new { @class = "text-danger" })
        <input type="number" id="AdminId" name="AdminId" value="@ViewBag.AdminId" hidden readonly />
        @Html.ValidationMessageFor(model => model.AdminId, "", new { @class = "text-danger" })
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.SupportNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="SupportNumber" name="SupportNumber" value="@ViewBag.SupportNum" readonly />
                @Html.ValidationMessageFor(model => model.SupportNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @if (@ViewBag.SellerId != null)
                {@Html.LabelFor(model => model.SellerId, htmlAttributes: new { @class = "control-label col-md-2" })
                <input type="text" class="form-control" id="SellerId" name="SellerId" value="@ViewBag.SellerId" required readonly />

                @Html.ValidationMessageFor(model => model.SellerId, "", new { @class = "text-danger" })
            }
            else
            {@Html.LabelFor(model => model.SellerId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="input-group mb-3">
                <input type="text" class="form-control"
                       aria-describedby="btn-addon1" id="SellerId2" name="SellerId" required>
                <a href="@Url.Action("Index", "AdminSellers")" class="btn btn-secondary" id="btn-addon1">選擇商家</a>
            </div>
            @Html.ValidationMessageFor(model => model.SellerId, "", new { @class = "text-danger" })
        }
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                @if (@ViewBag.UserId != null)
                {@Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
                <input type="text" class="form-control" id="UserId" name="UserId" value="@ViewBag.UserId" required readonly />
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            }
            else
            { @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="input-group mb-3">
                <input type="text" class="form-control"
                       aria-describedby="btn-addon2" id="UserId2" name="UserId" required>
                <a href="@Url.Action("Index", "AdminUsers")" class="btn btn-secondary" id="btn-addon2">選擇會員</a>
            </div>
            @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
        }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SupportType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" id="SupportType" name="SupportType" value="客服通知" readonly />
                @Html.ValidationMessageFor(model => model.SupportType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SupportTitle, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" class="form-control" id="SupportTitle" name="SupportTitle" required />
                @Html.ValidationMessageFor(model => model.SupportTitle, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SupportText, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <textarea class="form-control" id="SupportText" name="SupportText" style="height:300px" required>
親愛的客戶 @ViewBag.Name 您好:

我們很感謝您使用易起購的服務。

[主要訊息內容。]

如果您有任何問題或疑慮，請隨時回覆此郵件或聯繫我們的客服。

再次感謝您的信任和支持。

敬上，
客服 @ViewBag.AdminId
易起購股份有限公司 EShopping.com
</textarea>
                @Html.ValidationMessageFor(model => model.SupportText, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ImageLink, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.ImageLink, new { htmlAttributes = new { @class = "form-control" } })*@
                <input class="form-control" type="file" id="ImageFile" name="ImageFile">
                <img id="imagePreview" src="" alt="" style="width:200px;" class="my-3" hidden />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="寄出信件" class="btn btn-primary mt-2" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("取消", "CSSList", null, new { @class = "btn btn-secondary my-2" })
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            toggleFields();

            $('#SellerId, #SellerId2, #UserId, #UserId2').on('change', toggleFields);

            function toggleFields() {
                let sellerValue = $('#SellerId').val() || $('#SellerId2').val();
                let userValue = $('#UserId').val() || $('#UserId2').val();

                if (sellerValue && sellerValue !== "") {
                    $('[id^=UserId]').closest('.form-group').hide();
                    $('[id^=UserId]').removeAttr('required');
                    $('[id^=SellerId]').closest('.form-group').show();
                    $('[id^=SellerId]').attr('required', 'required');
                } else if (userValue && userValue !== "") {
                    $('[id^=SellerId]').closest('.form-group').hide();
                    $('[id^=SellerId]').removeAttr('required');
                    $('[id^=UserId]').closest('.form-group').show();
                    $('[id^=UserId]').attr('required', 'required');
                } else {
                    $('[id^=SellerId], [id^=UserId]').closest('.form-group').show();
                    $('[id^=SellerId], [id^=UserId]').attr('required', 'required');
                }
            }
        });

        //看圖片用
        $(document).ready(function () {
            $('#ImageFile').change(function (e) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    // 顯示圖片預覽
                    $('#imagePreview').attr('src', e.target.result);
                    $('#imagePreview').removeAttr('hidden');
                }

                reader.readAsDataURL(this.files[0]);
            });
        });
    </script>
}

@section Styles{
    <style>
    </style>
}
