@model IEnumerable<prjEShopping.Models.EFModels.Coupon>

@{
    ViewBag.Title = "List2";
}

<h2>List2</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CouponNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CouponName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CouponDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CouponTerms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CouponType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Storewide)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaimDeadline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CouponNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CouponName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CouponDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CouponTerms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CouponType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Discount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Storewide)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClaimDeadline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CouponId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CouponId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CouponId })
        </td>
    </tr>
}

</table>
