@model prjEShopping.Models.ViewModels.AdminVM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-9 bg-secondary overflow-auto">
    <h2 class="text-primary">新增員工資料</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.AdminNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="text" class="form-control" id="AdminNumber" name="AdminNumber" value="@ViewBag.AdminNumber" readonly>
                    @Html.ValidationMessageFor(model => model.AdminNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PermissionsId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-select mb-3" name="PermissionsId" id="PermissionsId" required>
                        <option selected disabled value="">管理權限</option>
                        @*<option value="1">總管理員</option>*@
                        <option value="2">管理員</option>
                        <option value="3">平台管理</option>
                        <option value="4">會員管理</option>
                        <option value="5">行銷管理</option>
                        <option value="6">客服管理</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.PermissionsId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AdminAccount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AdminAccount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AdminAccount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AdminPassword, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="password" id="AdminPassword" name="AdminPassword" class="form-control" aria-describedby="passwordHelpBlock">
                    <label for="inputPassword2" class="form-label">密碼確認</label>
                    <input type="password" id="Passwordcheck" class="form-control">
                    <div id="passwordMatchMessage" class="form-text d-none text-danger">
                        兩次輸入的密碼不一致。
                    </div>
                    <div id="passwordError" class="form-text d-none text-danger">
                    </div>
                    @Html.ValidationMessageFor(model => model.AdminPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input class="form-control" list="TitleOptions" id="Title" name="Title" required />
                    <datalist id="TitleOptions">
                        <option value="資訊經理">
                        <option value="資訊組長">
                        <option value="資訊專員">
                        <option value="行銷經理">
                        <option value="行銷專員">
                        <option value="客服經理">
                        <option value="客服專員">
                    </datalist>
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AdminName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.AdminName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AdminName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DateOfHire, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.DateOfHire, new { @class = "form-control", type = "date", Value = Model.DateOfHire?.ToString("yyyy-MM-dd") })
                    @Html.ValidationMessageFor(model => model.DateOfHire, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.JobStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <select class="form-select" id="JobStatus" name="JobStatus" required>
                        <option selected disabled value="">工作狀態</option>
                        <option value="在職中">在職中</option>
                        <option value="未到職">未到職</option>
                        <option value="留職中">留職中</option>
                        <option value="已離職">已離職</option>
                    </select>
                    @Html.ValidationMessageFor(model => model.JobStatus, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                    <input type="text" class="form-control" id="Role" name="Role" value="Admin" hidden>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" id="submitAdd" value="新增" class="btn btn-primary my-2" />
                </div>
            </div>      
    }

    <div>
        @Html.ActionLink("取消", "Index", null, new {@class="btn btn-info my-2"})
    </div>
</div>
@section Scripts{

<script>
    $(document).ready(function () {
        $('#Passwordcheck, #AdminPassword').on('input', function () {
            var password = $("#AdminPassword").val();
            var confirmPassword = $("#Passwordcheck").val();
            var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,16}$/;

            if (password != confirmPassword) {
                $("#passwordMatchMessage").removeClass('d-none');
                $("#passwordError").addClass('d-none');
                $("#submitAdd").prop("disabled", true);
            }
            else if (!regex.test(password)) {
                $("#passwordMatchMessage").addClass('d-none');
                $('#passwordError').removeClass('d-none').text('密碼必須為8~16個字符，並包含至少一個大寫字母，一個小寫字母，和一個數字。');
                $("#submitAdd").prop("disabled", true);
            }
            else {
                $("#passwordMatchMessage").addClass('d-none');
                $('#passwordError').addClass('d-none').text('');
                $("#submitAdd").prop("disabled", false);
            }
        });
    });
</script>
}

@section Styles{
}
