@model prjEShopping.Models.ViewModels.AdminVM

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-9 bg-secondary overflow-auto">
    <h2 class="text-primary">資料修改</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AdminId)
    <input type="text" id="DateOfHire" name="DateOfHire" value="@Html.DisplayFor(model => model.DateOfHire)" hidden />
    <input type="text" id="AdminPasswordSalt" name="AdminPasswordSalt" value="@Html.DisplayFor(model => model.AdminPasswordSalt)" hidden />
    <input type="text" id="Role" name="Role" value="@Html.DisplayFor(model => model.Role)" hidden />
    <input type="text" id="AccessRightId" name="AccessRightId" value="@Html.DisplayFor(model => model.AccessRightId)" hidden />
    <div class="form-group">
        @Html.LabelFor(model => model.AdminNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AdminNumber, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.AdminNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PermissionsId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-select mb-3" name="PermissionsId" id="PermissionsId" required>
                <option disabled value="">管理權限</option>
                <option value="@Html.DisplayFor(model=> model.PermissionsId)" selected>@Html.DisplayFor(model => model.PermissionsName)</option>
                <option value="2">管理員</option>
                <option value="3">平台管理</option>
                <option value="4">會員管理</option>
                <option value="5">行銷管理</option>
                <option value="6">客服管理</option>
            </select>
            @Html.ValidationMessageFor(model => model.PermissionsId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AdminAccount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AdminAccount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.AdminAccount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AdminPassword, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="password" class="form-control" hidden readonly id="AdminPassword" name="AdminPassword" value="@Html.DisplayFor(model=>model.AdminPassword)" />
            <!--密碼變更另外做一個頁面進行驗證避免前端驗證跟麻煩-->
            @*<button type="button" class="btn btn-primary my-2" id="passwordEdit">變更密碼</button>*@
            <a href="@Url.Action("PasswordChange", "Admins", new { id = Model.AdminId })" class="btn btn-primary my-2" id="passwordEdit">變更密碼</a>

            @Html.ValidationMessageFor(model => model.AdminPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input class="form-control" list="TitleOptions" id="Title" name="Title" value="@Html.DisplayFor(model => model.Title)" required />
            <datalist id="TitleOptions">
                <option value="資訊經理">
                <option value="資訊組長">
                <option value="資訊專員">
                <option value="行銷經理">
                <option value="行銷專員">
                <option value="客服經理">
                <option value="客服專員">
            </datalist>
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AdminName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AdminName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AdminName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.JobStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select class="form-select" id="JobStatus" name="JobStatus" required>
                <option selected disabled value="">工作狀態</option>
                <option selected value="@Html.DisplayFor(model => model.JobStatus)">@Html.DisplayFor(model => model.JobStatus)</option>
                <option value="在職中">在職中</option>
                <option value="未到職">未到職</option>
                <option value="留職中">留職中</option>
                <option value="已離職">已離職</option>

            </select>
            @Html.ValidationMessageFor(model => model.JobStatus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="修改" class="btn btn-primary my-2" />
        </div>
    </div>
</div>
    }
    <div>
        @Html.ActionLink("取消", "Index", null, new {@class= "btn btn-info my-2" })
    </div>
</div>

@section Scripts{
<script>

</script>
}

@section Styles{
}
