@model IEnumerable<prjEShopping.Models.ViewModels.AdminVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-9 bg-secondary overflow-auto">
    <h2 class="text-primary">員工一覽</h2>
    <p>
        @Html.ActionLink("新增員工", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-primary table-bordered" style="width:960px">
        @{
            var authCookie = Request.Cookies["AdminLogin"];
            var permissionsId = authCookie?.Values["permissionsId"];
            var canSeeTableA = permissionsId == "1";
        }
        <tr class="table-info">
            <th style="width:100px">
                @Html.DisplayNameFor(model => model.AdminNumber)
            </th>
            <th style="width:100px">
                @Html.DisplayNameFor(model => model.AdminName)
            </th>
            <th style="width:80px">
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th style="width:120px">
                @Html.DisplayNameFor(model => model.AdminAccount)
            </th>
            <th style="width:80px">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th style="width:80px">
                @Html.DisplayNameFor(model => model.JobStatus)
            </th>
            @if (canSeeTableA)
            {
                <th style="width:50px">
                    功能
                </th>
            }
        </tr>

        @foreach (var item in Model)
        {
            <tr style="cursor:pointer" class="clickable-row" data-href="@Url.Action("Details", "Admins", new { id = item.AdminId })">
                <td>
                    @Html.DisplayFor(modelItem => item.AdminNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdminName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdminAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobStatus)
                </td>
                @if (canSeeTableA)
                {
                    <td>
                        @Html.ActionLink("修改", "Edit", new { id = item.AdminId }, new { @class = "btn btn-secondary" })
                    </td>
                }
            </tr>
        }
    </table>
</div>

@section Scripts{
    <script>
            $(document).ready(function ($) {
                $(".clickable-row").click(function () {
                    window.location = $(this).data("href");
                });
            });
    </script>
}

@section Styles{
}