@model prjEShopping.Models.ViewModels.PasswordChangeVM


@{
    ViewBag.Title = "PasswordChange";
    Layout = "~/Views/Shared/_LayoutAdminLogin.cshtml";
}

<div class="col-6 bg-secondary overflow-auto">
    <h2>變更密碼</h2>
    <h3>@ViewBag.UserName</h3>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <form method="post">
        @Html.HiddenFor(model => model.UserId)
        <label>舊密碼</label>
        <input type="password" class="form-control" id="OldPassword" name="OldPassword" />
        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
        <br />
        <label>新密碼</label>
        <input type="password" class="form-control" id="NewPassword" name="NewPassword" />
        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        <br />
        <label>確認新密碼</label>
        <input type="password" class="form-control" id="ConfirmNewPassword" name="ConfirmNewPassword" />
        @Html.ValidationMessageFor(model => model.ConfirmNewPassword, "", new { @class = "text-danger" })
        <div class="d-none text-danger" id="passwordMatchMessage">密碼不匹配！</div>
        <div class="d-none text-danger" id="passwordError">密碼錯誤</div>
        <input type="submit" id="PasswordChange" value="變更" class="btn btn-primary my-2" disabled />
    </form>
    <a href="@Url.Action("Index", "Admins")" class="btn btn-primary my-2">取消</a>
    <button type="button" id="btn1" class="btn btn-info">密碼變更</button>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#ConfirmNewPassword, #NewPassword').on('input', function () {
                var password = $("#NewPassword").val();
                var confirmPassword = $("#ConfirmNewPassword").val();
                var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,16}$/;

                if (password != confirmPassword) {
                    $("#passwordMatchMessage").removeClass('d-none');
                    $("#passwordError").addClass('d-none');
                    $("#PasswordChange").prop("disabled", true);
                }
                else if (!regex.test(password)) {
                    $("#passwordMatchMessage").addClass('d-none');
                    $('#passwordError').removeClass('d-none').text('密碼必須為8~16個字符，並包含至少一個大寫字母，一個小寫字母，和一個數字。');
                    $("#PasswordChange").prop("disabled", true);
                }
                else {
                    $("#passwordMatchMessage").addClass('d-none');
                    $('#passwordError').addClass('d-none').text('');
                    $("#PasswordChange").prop("disabled", false);
                }
            });
        });
        $(document).ready(function () {
            $('#btn1').click(function () {
                $('#OldPassword').val('Jj123456');
                $('#NewPassword').val('Jj123456');
                $('#ConfirmNewPassword').val('Jj123456');
            })
            });
    </script>
}