
@{
    ViewBag.Title = "UserFollowProduct";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<div class="bg-light">
    <div class="container py-3">
        <div class="row py-2 gx-5">
            <div class="col-sm-auto col-md-3 bg-light">
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center">
                        <img src="~/img/comment.jpeg" alt="" class="img-fluid">
                        <span class="fw-bold ms-3">John Doe</span>
                    </div>
                    <!-- 手風琴左邊選項區 -->
                    <div class="accordion mt-3" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                    我的帳戶
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserMembers/UserEditProfile")" class="link-blue text-decoration-none fw-bold">個人檔案</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserMembers/UserEditPassword")" class="link-blue text-decoration-none fw-bold">修改密碼</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                    我的焦點
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserOrder/UserOrderDetailAll")" class="link-blue text-decoration-none fw-bold">購買清單</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserCoupon/UserCouponList")" class="link-blue text-decoration-none fw-bold">優惠券</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserFollow/UserFollowProduct")" class="link-blue text-decoration-none fw-bold">追蹤商品</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserFollow/UserFollowSeller")" class="link-blue text-decoration-none fw-bold">追蹤店家</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 手風琴左邊選項區 -->
                </div>
            </div>

            <!-- 右邊分頁區 -->
            <div class="col-sm-auto mt-sm-3 col-md-9 bg-warning mt-lg-0 rounded">
                <p class="fs-4 mt-3 fw-bold">追蹤商品</p>
                <hr>
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3 mt-2">
                    <div class="col">
                        <div class="card w-100">
                            <img src="~/img/hot1.jpg" class="card-img-top px-4 pt-4" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">PlayStation 5 主機</h5>
                                <p class="card-text text-danger fw-bold">$17,880</p>
                                <div class="d-flex">
                                    <a href="2.index.html" class="btn btn-secondary">了解更多...</a>
                                    <button class="btn btn-danger" id="addToFavorites"><i class="fa-regular fa-heart"></i></button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card w-100">
                            <img src="~/img/hot1.jpg" class="card-img-top px-4 pt-4" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">PlayStation 5 主機</h5>
                                <p class="card-text text-danger fw-bold">$17,880</p>
                                <div class="d-flex">
                                    <a href="2.index.html" class="btn btn-secondary">了解更多...</a>
                                    <button class="btn btn-danger" id="addToFavorites"><i class="fa-regular fa-heart"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card w-100">
                            <img src="~/img/hot1.jpg" class="card-img-top px-4 pt-4" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">PlayStation 5 主機</h5>
                                <p class="card-text text-danger fw-bold">$17,880</p>
                                <div class="d-flex">
                                    <a href="2.index.html" class="btn btn-secondary">了解更多...</a>
                                    <button class="btn btn-danger" id="addToFavorites"><i class="fa-regular fa-heart"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card w-100">
                            <img src="~/img/hot1.jpg" class="card-img-top px-4 pt-4" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">PlayStation 5 主機</h5>
                                <p class="card-text text-danger fw-bold">$17,880</p>
                                <div class="d-flex">
                                    <a href="2.index.html" class="btn btn-secondary">了解更多...</a>
                                    <button class="btn btn-danger" id="addToFavorites"><i class="fa-regular fa-heart"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card w-100">
                            <img src="~/img/hot1.jpg" class="card-img-top px-4 pt-4" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">PlayStation 5 主機</h5>
                                <p class="card-text text-danger fw-bold">$17,880</p>
                                <div class="d-flex">
                                    <a href="2.index.html" class="btn btn-secondary">了解更多...</a>
                                    <button class="btn btn-danger" id="addToFavorites"><i class="fa-regular fa-heart"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card w-100">
                            <img src="~/img/hot1.jpg" class="card-img-top px-4 pt-4" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">PlayStation 5 主機</h5>
                                <p class="card-text text-danger fw-bold">$17,880</p>
                                <div class="d-flex">
                                    <a href="2.index.html" class="btn btn-secondary">了解更多...</a>
                                    <button class="btn btn-danger" id="addToFavorites"><i class="fa-regular fa-heart"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card w-100">
                            <img src="~/img/hot1.jpg" class="card-img-top px-4 pt-4" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">PlayStation 5 主機</h5>
                                <p class="card-text text-danger fw-bold">$17,880</p>
                                <div class="d-flex">
                                    <a href="2.index.html" class="btn btn-secondary">了解更多...</a>
                                    <button class="btn btn-danger" id="addToFavorites"><i class="fa-regular fa-heart"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

