@model IEnumerable<prjEShopping.Models.ViewModels.AdminUserVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminelse.cshtml";
}

<h2>會員列表</h2>
<hr />

<div class="container">
    <table class="table table-primary table-bordered" id="myTable">
        <thead>
            <tr>
                <th>
                    用戶頭像
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserAccount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Birthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccessRightId)
                </th>
                <th>變更權限</th>
                <th>資料編輯</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/img/@Html.DisplayFor(modelItem => item.UserImagePath)" alt="Description" style="height:40px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserAccount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @item.Birthday.Value.ToString("yyyy/MM/dd")
                    </td>
                    <td>
                        @{
                            var statusColor = "";
                            var AccessRightName = "";

                            switch (item.AccessRightId)
                            {
                                case 1:
                                    statusColor = "text-white bg-primary";
                                    AccessRightName = "使用中";
                                    break;
                                case 2:
                                    statusColor = "text-primary bg-secondary";
                                    AccessRightName = "審核中";
                                    break;
                                case 3:
                                    statusColor = "text-white bg-danger";
                                    AccessRightName = "停權中";
                                    break;
                                default:
                                    statusColor = "";  // 或任何你希望的默認樣式
                                    break;
                            }
                        }
                        <span class="statusDisplay @statusColor" data-user-id="@item.UserId">@AccessRightName </span>
                    </td>
                    <td>
                        <button data-user-id="@item.UserId" data-status="1" class="btn btn-primary change-status-btn">使用中</button>
                        <button data-user-id="@item.UserId" data-status="2" class="btn btn-secondary change-status-btn">審核中</button>
                        <button data-user-id="@item.UserId" data-status="3" class="btn btn-danger change-status-btn">停權中</button>
                    </td>

                    <td>
                        @Html.ActionLink("編輯", "Edit", new { id = item.UserId }, new { @class = "btn btn-info" })
                        @Html.ActionLink("寄信", "CSSSendMail", "Support2", new { UserId = item.UserId, Name = item.UserName }, new { @class = "btn btn-info" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
    @section Scripts{

        <!-- DataTables BS5版本-->
        <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>

        <script>
            // 定義一個新的排序方法重要 不然金額排序會錯
            $.fn.dataTable.ext.type.order['currency-pre'] = function (data) {
                // 移除不需要的字符，例如 NT$ 和逗號，然後將其轉換為浮點數
                return parseFloat(data.replace('NT$', '').replace(',', ''));
            };
            $(document).ready(function () {
                $('#myTable').DataTable({
                    pageLength: 10, // 每頁顯示10筆資料
                    columnDefs: [{
                        type: 'currency', // 使用上面定義的排序方法
                        targets: [3]  // 替換 [0] 為你希望套用這種排序的柱子索引值。例如：0，如果你希望在第一列上使用這個排序。
                    }],
                    language: {
                        search: "搜尋：",
                        paginate: {
                            first: "首頁",
                            last: "尾頁",
                            next: "下一頁",
                            previous: "上一頁"
                        },
                        info: "顯示 _START_ 到 _END_ 的 _TOTAL_ 筆資料",
                        //最下面顯示
                        infoEmpty: "顯示 0 到 0 的 0 筆資料",
                        //下拉選單
                        lengthMenu: "顯示 _MENU_ 筆資料",
                    }
                });
            });

            $(document).ready(function () {
                $('#myTable tbody').on('click', '.change-status-btn', function () {
                    var newAccessRightId = $(this).data('status');
                    var userId = $(this).data('user-id');
                    // AJAX call to server
                    $.ajax({
                        url: '/AdminUsers/ChangeAccessRightId',
                        type: 'POST',
                        data: { id: userId, AccessRightId: newAccessRightId },
                        success: function (response) {
                            var statusColor;
                            let AccessRightName = "";
                            switch (response.newAccessRightId) {
                                case 1:
                                    statusColor = "text-white bg-primary";
                                    AccessRightName = "使用中"
                                    break;
                                case 2:
                                    statusColor = "text-primary bg-secondary";
                                    AccessRightName = "審核中"
                                    break;
                                case 3:
                                    statusColor = "text-white bg-danger";
                                    AccessRightName = "停權中"
                                    break;
                                default:
                                    statusColor = "";  // 或任何你希望的默認樣式
                                    break;
                            }
                            // Update the displayed status
                            $('tr').find('.statusDisplay[data-user-id="' + userId + '"]').text(AccessRightName).attr('class', 'statusDisplay ' + statusColor);
                        },
                        error: function (error) {
                            console.log("Error:", error);
                        }
                    });
                });
            });
        </script>

    }

    @section Styles{
        <!-- DataTables CSS BS5版本 -->
        <link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
    }
