@model IEnumerable<prjEShopping.Models.ViewModels.CouponVM>

@{
    ViewBag.Title = "UserCouponList";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="bg-light">
    <div class="container py-3">
        <div class="row py-2 gx-5">
            <div class="col-sm-auto col-md-3 bg-light">
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center">
                        <img src="" class="img-fluid" id="userImagePath" style="width:130px">
                        <span class="fw-bold ms-3" id="username"></span>
                    </div>
                    <!-- 手風琴左邊選項區 -->
                    <div class="accordion mt-3" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                    我的帳戶
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserMembers/UserEditProfile")" class="link-blue text-decoration-none fw-bold">個人檔案</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserMembers/UserEditPassword")" class="link-blue text-decoration-none fw-bold">修改密碼</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                    我的焦點
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserOrder/UserOrderDetailAll")" class="link-blue text-decoration-none fw-bold">購買清單</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserCoupon/UserCouponList")" class="link-blue text-decoration-none fw-bold">優惠券</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserFollow/UserFollowProduct")" class="link-blue text-decoration-none fw-bold">追蹤商品</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserFollow/UserFollowSeller")" class="link-blue text-decoration-none fw-bold">追蹤店家</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserSupport/UserCSList")" class="link-blue text-decoration-none fw-bold">聯絡客服</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserChat/UserChat")" class="link-blue text-decoration-none fw-bold">聯絡商家</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 手風琴左邊選項區 -->
                </div>
            </div>

            <!-- 右邊分頁區 -->
            <div class="col-sm-auto mt-sm-3 col-md-9 bg-warning mt-lg-0 rounded">
                <p class="fs-4 mt-3 fw-bold">優惠券</p>
                <hr>
                <div class="d-flex align-items-center mb-3">
                    <span class="me-3">新增優惠券</span>
                    <input type="text" placeholder="請輸入優惠券代碼" class="me-3">
                    <button type="button" class="btn btn-secondary">領取</button>
                </div>


                <!-- 頁籤 -->
                <ul class="nav nav-tabs d-flex justify-content-around" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active text-primary fw-bold" id="all-tab" data-bs-toggle="tab" data-bs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="true">全部</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-primary fw-bold" id="use-tab" data-bs-toggle="tab" data-bs-target="#use" type="button" role="tab" aria-controls="use" aria-selected="false">可使用</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-primary fw-bold" id="nouse-tab" data-bs-toggle="tab" data-bs-target="#nouse" type="button" role="tab" aria-controls="nouse" aria-selected="false">已使用</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link text-primary fw-bold" id="finish-tab" data-bs-toggle="tab" data-bs-target="#finish" type="button" role="tab" aria-controls="finish" aria-selected="false">已失效</button>
                    </li>

                </ul>
                <div class="tab-content" id="myTabContent">

                    <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                        <div class="d-flex flex-wrap">
                            @*<div class="d-flex me-5 coupon-item mb-5">
                                    <img src="~/img/coupon.png" alt="">
                                    <div class="d-flex flex-column p-2 bg-info">
                                        <span>Apple折價券</span>
                                        <span>Apple全館打85折</span>
                                        <span>20230701-20230731</span>
                                        <div class="d-flex">
                                            <a href="#">查看賣場<i class="fa-solid fa-caret-right"></i></a>
                                            <button type="button" class="btn btn-secondary ms-3">領取</button>
                                        </div>
                                    </div>
                                </div>*@
                            @if (!Model.Any())
                            {
                                <div class="alert alert-info">
                                    目前暫無可領取優惠券。
                                </div>
                            }
                            else
                            {
                                foreach (var item in Model)
                                {
                                    <div class="d-flex me-5 coupon-item mb-5">
                                        
                                        <img src="~/img/couponall.png" />
                                        <div class="d-flex flex-column p-2 bg-info">
                                            <span>@Html.DisplayFor(modelItem => item.CouponName) @Html.DisplayFor(modelItem => item.CouponType) </span>
                                            <span>
                                                @Html.DisplayFor(modelItem => item.Storewide)
                                                @if (item.CouponType == "折價券")
                                                {
                                                    int discountValue;
                                                    bool isConvertible = Int32.TryParse(item.Discount, out discountValue);

                                                    if (isConvertible) // 確保轉換是成功的
                                                    {
                                                        if (discountValue % 10 == 0 && discountValue >= 10 && discountValue <= 90)
                                                        {
                                                            <text>@(discountValue / 10)折</text>
                                                        }
                                                        else
                                                        {
                                                            <text>@discountValue 折</text>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <text>@item.Discount 折</text> // 或其他錯誤消息
                                                    }
                                                }
                                                else if (item.CouponType == "抵用券")
                                                {
                                                    <text>@Html.DisplayFor(modelItem => item.Discount)元</text>
                                                }
                                                else if (item.CouponType == "免運券")
                                                {
                                                    <text>免運</text>
                                                }
                                            </span>
                                            <span>期限:  @Html.DisplayFor(modelItem => item.EndTime)</span>
                                            <div class="d-flex">
                                                <a href="#">查看賣場<i class="fa-solid fa-caret-right"></i></a>
                                                @using (Html.BeginForm("UserCouponList", "UserCoupon", FormMethod.Post))
                                                {
                                                    <input type="hidden" name="couponId" value="@item.CouponId" />
                                                    <button type="submit" class="btn btn-secondary ms-3">領取</button>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>


                    <div class="tab-pane fade" id="use" role="tabpanel" aria-labelledby="use-tab">
                        <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                            <div class="d-flex flex-wrap">
                                @Html.Action("UsersCouponsList", "UserCoupon")
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nouse" role="tabpanel" aria-labelledby="nouse-tab">
                        <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                            <div class="d-flex flex-wrap">
                                @Html.Action("UsersCouponsUsed", "UserCoupon")
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="finish" role="tabpanel" aria-labelledby="finish-tab">
                        <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                            <div class="d-flex flex-wrap">
                                @Html.Action("UsersCouponsOverdue", "UserCoupon")
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
