@model IEnumerable<prjEShopping.Controllers.SupportVM>
@*上面的vm要改*@

@{
    ViewBag.Title = "UserCSList";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="bg-light">
    <div class="container py-3">
        <div class="row py-2 gx-5">
            <div class="col-sm-auto col-md-3 bg-light">
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center">
                        <img src="" class="img-fluid" id="userImagePath" style="width:130px">
                        <span class="fw-bold ms-3" id="username"></span>
                    </div>
                    <!-- 手風琴左邊選項區 -->
                    <div class="accordion mt-3" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                    我的帳戶
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserMembers/UserEditProfile")" class="link-blue text-decoration-none fw-bold">個人檔案</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserMembers/UserEditPassword")" class="link-blue text-decoration-none fw-bold">修改密碼</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                    我的焦點
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserOrder/UserOrderDetailAll")" class="link-blue text-decoration-none fw-bold">購買清單</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserCoupon/UserCouponList")" class="link-blue text-decoration-none fw-bold">優惠券</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserFollow/UserFollowProduct")" class="link-blue text-decoration-none fw-bold">追蹤商品</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserFollow/UserFollowSeller")" class="link-blue text-decoration-none fw-bold">追蹤店家</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserSupport/UserCSList")" class="link-blue text-decoration-none fw-bold">聯絡客服</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 手風琴左邊選項區 -->
                </div>
            </div>

            <!-- 右邊分頁區 -->
            <div class="col-sm-auto mt-sm-3 col-md-9 bg-warning mt-lg-0 rounded">
                <p class="fs-4 mt-3 fw-bold">客服信件列表</p>
                <hr>
                <div class="row">

                    <p>
                        @Html.ActionLink("新建客服信", "UserCSSendMail", new { id = @ViewBag.UserId }, new { @class = "btn btn-primary" })
                    </p>
                </div>   
                <div class="row">
                    <table class="table table-primary table-bordered" id="myTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupportNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupportType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupportTitle)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ReceivedTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupportStatus)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupportNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupportType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SupportTitle)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ReceivedTime)
                                    </td>
                                    <td>
                                        @(item.SupportStatus=="新進單"?"已發送":@item.SupportStatus)
                                    </td>
                                    <td>
                                        @Html.ActionLink("開啟", "UserCSReplay", new { id = item.SupportId }, new { @class = "btn btn-info" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>


                </div>                      
               
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <!-- DataTables BS5版本-->
    <script src="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.js"></script>

    <script>

        $(document).ready(function () {
            $('#myTable').DataTable({
                pageLength: 10, // 每頁顯示10筆資料
                language: {
                    search: "搜尋：",
                    paginate: {
                        first: "首頁",
                        last: "尾頁",
                        next: "下一頁",
                        previous: "上一頁"
                    },
                    info: "顯示 _START_ 到 _END_ 的 _TOTAL_ 筆資料",
                    //最下面顯示
                    infoEmpty: "顯示 0 到 0 的 0 筆資料",
                    //下拉選單
                    lengthMenu: "顯示 _MENU_ 筆資料",
                }
            });
        });

        $(document).ready(function () {
            $('.change-status-btn').click(function () {
                var newStatusId = $(this).data('status');
                var productId = $(this).data('product-id');
                // AJAX call to server
                $.ajax({
                    url: '/AdminProducts/ChangeStatus',
                    type: 'POST',
                    data: { id: productId, statusId: newStatusId },
                    success: function (response) {
                        let r = ""
                        if (response.newStatusId == "1")
                            r = "審核中"
                        else if (response.newStatusId == "2")
                            r = "販售中"
                        else if (response.newStatusId == "3")
                            r = "下架中"

                        var statusColor;
                        switch (r) {
                            case "審核中":
                                statusColor = "text-white bg-danger";
                                break;
                            case "販售中":
                                statusColor = "text-white bg-primary";
                                break;
                            case "下架中":
                                statusColor = "text-primary bg-secondary";
                                break;
                            default:
                                statusColor = "";  // 或任何你希望的默認樣式
                                break;
                        }
                        // Update the displayed status
                        $('tr').find('.statusDisplay[data-product-id="' + productId + '"]').text(r).attr('class', 'statusDisplay ' + statusColor);
                    },
                    error: function (error) {
                        console.log("Error:", error);
                    }
                });
            });
        });
    </script>

}

@section Styles{

    <!-- DataTables CSS BS5版本 -->
    <link href="https://cdn.datatables.net/v/bs5/dt-1.13.6/datatables.min.css" rel="stylesheet">
}