@model prjEShopping.Models.ViewModels.SupportDetailViewModel
@{
    ViewBag.Title = "UserCSReplay";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}


<div class="bg-light">
    <div class="container py-3">
        <div class="row py-2 gx-5">
            <div class="col-sm-auto col-md-3 bg-light">
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center">
                        <img src="" class="img-fluid" id="userImagePath" style="width:130px">
                        <span class="fw-bold ms-3" id="username"></span>
                    </div>
                    <!-- 手風琴左邊選項區 -->
                    <div class="accordion mt-3" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                    我的帳戶
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserMembers/UserEditProfile")" class="link-blue text-decoration-none fw-bold">個人檔案</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserMembers/UserEditPassword")" class="link-blue text-decoration-none fw-bold">修改密碼</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                    我的焦點
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserOrder/UserOrderDetailAll")" class="link-blue text-decoration-none fw-bold">購買清單</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserCoupon/UserCouponList")" class="link-blue text-decoration-none fw-bold">優惠券</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserFollow/UserFollowProduct")" class="link-blue text-decoration-none fw-bold">追蹤商品</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserFollow/UserFollowSeller")" class="link-blue text-decoration-none fw-bold">追蹤店家</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserSupport/UserCSList")" class="link-blue text-decoration-none fw-bold">聯絡客服</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 手風琴左邊選項區 -->
                </div>
            </div>

            <!-- 右邊分頁區 -->
            <div class="col-sm-auto mt-sm-3 col-md-9 bg-warning mt-lg-0 rounded">
                <p class="fs-4 mt-3 fw-bold">信件資訊</p>
                <hr>
                <div class="row">
                    <div class="border border-2 border-primary rounded rounded-2 px-2 py-2 bg-primary">
                        <h5 class="border border-1 text-white">信件編號:@Html.DisplayFor(model => model.Support.SupportNumber)</h5>
                        <div class="border border-2 border-primary rounded rounded-2 my-2 px-2 py-2 bg-white">
                            <h5 class="border border-1">信件標題:@Html.DisplayFor(model => model.Support.SupportTitle)</h5>
                            <h5 class="border border-1">發信時間:@Html.DisplayFor(model => model.Support.ReceivedTime)</h5>
                        </div>
                        <div class="border border-2 border-primary rounded rounded-2 my-2 px-2 py-2 bg-white">
                            <div>
                                <textarea class="border border-1" style="width:100%;height:300px"> @Html.DisplayFor(model => model.Support.SupportText)</textarea>
                            </div>
                            <div class="my-2">
                                @if (@Model.Support.ImageLink != null)
                                {
                                    <img src="~/img/@Model.Support.ImageLink" style="width:200px" />
                                }
                            </div>
                        </div>
                    </div>
                    @if (@Model.SupportReplies.Count > 0)
                    {
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col-11">
                                <div class="border border-2 border-info rounded rounded-2 px-2 py-2 my-2 bg-info">
                                    <h5>回覆內容：</h5>
                                    @foreach (var item in Model.SupportReplies)
                                    {
                                        <div class="border border-2 border-info rounded rounded-2 my-2 px-2 py-2 bg-white">
                                            @if (ViewBag.UserId == @item.UserId)
                                            {
                                                <h5 class="border border-1 bg-primary text-white">我的回覆</h5>
                                            }
                                            else
                                            {
                                                <h5 class="border border-1 bg-info text-white">客服端的回覆</h5>
                                            }
                                            <h5 class="border border-1">回覆時間:@Html.DisplayFor(modelItem => item.ReplayTime)</h5>
                                            <textarea class="border border-1" style="width:100%;height:200px">@Html.DisplayFor(modelItem => item.ReplayText)</textarea>

                                            @if (@item.ImageLink != null)
                                            {
                                                <img src="~/img/@item.ImageLink" style="width:200px" />
                                            }
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                    <div class="border border-2 border-secondary rounded rounded-2 px-2 py-2 bg-secondary">
                        <form method="post" enctype="multipart/form-data">
                            <div class="border border-2 border-primary rounded rounded-2 px-2 py-2">
                                <input type="text" id="SupportId" name="SupportId" class="form-control" value="@Model.Support.SupportId" hidden />
                                <input type="text" id="UserId" name="UserId" class="form-control" value="@ViewBag.UserId" hidden />
                                <input type="text" id="ReplayTime" name="ReplayTime" class="form-control" value="@DateTime.Now" hidden />
                                <textarea id="ReplayText" name="ReplayText" class="form-control" style="height:300px"></textarea>
                                <input class="form-control" type="file" id="ImageFile" name="ImageFile">
                                <img id="imagePreview" src="" alt="" style="width:200px;" class="my-3" hidden />

                            </div>
                            <input type="submit" value="回覆" class="btn btn-primary my-2" />
                            @Html.ActionLink("取消", "UserCSList", null, new { @class = "btn btn-info my-2" })
                        </form>
                    </div>



                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>

    </script>

}

@section Styles{


}

