@*這是list*@
@model IEnumerable<prjEShopping.Models.DTOs.UserProductIndexDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //篩選頁面
}

<div class="bg-light">

    <!-- 左邊篩選器 -->
    <div class="container py-3">
        <div class="row py-2">
            <div class="col-3 d-flex flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <i class="fa-solid fa-bars"></i>
                        <span class="ms-2">所有分類</span>
                    </div>
                    <button class="btn btn-secondary mt-2" id="isSelected">搜尋分類</button>
                </div>
                <div class="fs-5">
                    <i class="fa-solid fa-caret-down"></i><a href="#" class="link-blue text-decoration-none fw-bold">3C資訊</a>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected101">
                    <label class="form-check-label">
                        筆電
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected102">
                    <label class="form-check-label">
                        桌機
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected103">
                    <label class="form-check-label">
                        螢幕
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected104">
                    <label class="form-check-label">
                        鍵盤
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected105">
                    <label class="form-check-label">
                        滑鼠
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected106">
                    <label class="form-check-label">
                        儲存硬碟
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected107">
                    <label class="form-check-label">
                        耳機
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected108">
                    <label class="form-check-label">
                        音響
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected109">
                    <label class="form-check-label">
                        藍芽穿戴
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected110">
                    <label class="form-check-label">
                        印表機
                    </label>
                </div>
                <div class="fs-5">
                    <i class="fa-solid fa-caret-down"></i><a href="#" class="link-blue text-decoration-none fw-bold">數位通訊</a>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected201">
                    <label class="form-check-label">
                        手機
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected202">
                    <label class="form-check-label">
                        平板
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected203">
                    <label class="form-check-label">
                        相機
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected204">
                    <label class="form-check-label">
                        遊戲主機
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected205">
                    <label class="form-check-label">
                        光碟片
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected206">
                    <label class="form-check-label">
                        充電線
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected207">
                    <label class="form-check-label">
                        轉接頭
                    </label>
                </div>
                <div class="fs-5">
                    <i class="fa-solid fa-caret-down"></i><a href="#" class="link-blue text-decoration-none fw-bold">生活家電</a>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected301">
                    <label class="form-check-label">
                        冰箱
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected302">
                    <label class="form-check-label">
                        洗衣機
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected303">
                    <label class="form-check-label">
                        乾衣機
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected304">
                    <label class="form-check-label">
                        電風扇
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected305">
                    <label class="form-check-label">
                        冷氣
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected306">
                    <label class="form-check-label">
                        烤箱
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected307">
                    <label class="form-check-label">
                        微波爐
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected308">
                    <label class="form-check-label">
                        電子鍋
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected309">
                    <label class="form-check-label">
                        吸塵器
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected310">
                    <label class="form-check-label">
                        電動牙刷
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="isSubcategorySelected311">
                    <label class="form-check-label">
                        電鬍刀
                    </label>
                </div>
                <hr>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-bars"></i><span class="ms-2">品牌</span>
                </div>

                @*也是品牌傳過來一堆products裡面的BrandName在前端移除重複*@
                @*@{
                    var uniqueBrandNames = new HashSet<string>();
                }

                @foreach (var item in Model)
                {
                    if (!uniqueBrandNames.Contains(item.BrandName))
                    {
                        uniqueBrandNames.Add(item.BrandName);
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="isBrand@(item.BrandId)">
                            <label class="form-check-label">
                                @item.BrandName
                            </label>
                        </div>
                    }
                }*@             


                @*用ViewBag直接將table傳過來item.出table的欄位*@
                @foreach (var item in ViewBag.Brand)
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="isBrandSelected@(item.BrandId)">
                        <label class="form-check-label">
                            @item.BrandName
                        </label>
                    </div>
                }


                <hr>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-bars"></i><span class="ms-2">價格範圍</span>
                </div>
                <div class="d-flex">
                    <input type="text" class="form-control" placeholder="$最小值" aria-label="Username" aria-describedby="basic-addon1">
                    <span class="pt-3">―――</span>
                    <input type="text" class="form-control" placeholder="$最大值" aria-label="Username" aria-describedby="basic-addon1">
                </div>
                <div class="btn btn-secondary mt-2">套用</div>
                <hr>
                <div class="d-flex align-items-center">
                    <i class="fa-solid fa-bars"></i><span class="ms-2">評價</span>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label">
                        <i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-solid fa-star" style="color: #ffe180;"></i>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label">
                        <i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-regular fa-star" style="color: #ffe180;"></i>或以上
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label">
                        <i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-regular fa-star" style="color: #ffe180;"></i><i class="fa-regular fa-star" style="color: #ffe180;"></i>或以上
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label">
                        <i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-regular fa-star" style="color: #ffe180;"></i><i class="fa-regular fa-star" style="color: #ffe180;"></i><i class="fa-regular fa-star" style="color: #ffe180;"></i>或以上
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="">
                    <label class="form-check-label">
                        <i class="fa-solid fa-star" style="color: #ffe180;"></i><i class="fa-regular fa-star" style="color: #ffe180;"></i><i class="fa-regular fa-star" style="color: #ffe180;"></i><i class="fa-regular fa-star" style="color: #ffe180;"></i><i class="fa-regular fa-star" style="color: #ffe180;"></i>或以上
                    </label>
                </div>






            </div>

            <!-- 右邊內容 -->
            <div class="col-9">
                <div class="bg-warning p-3 d-flex justify-content-between">
                    <div>
                        <span class="me-3">篩選</span>
                        <button type="button" class="btn btn-outline-blue me-3 mb-1" id="btnAll">全部</button>
                        <button type="button" class="btn btn-outline-blue me-3 mb-1" id="btnHot">最熱銷</button>
                        <button type="button" class="btn btn-outline-blue me-3 mb-1" id="btnPriceHight">價格：高到低</button>
                        <button type="button" class="btn btn-outline-blue mb-1" id="btnPriceLow">價格：低到高</button>
                    </div>
                   <div>
                       <button type="button" class="btn btn-outline-blue me-3 mb-1" id="btnDelete">清除篩選</button>
                   </div>                   
                </div>
                <!-- 商品開始 -->
                <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 g-3 mt-2" id="productContainer">

                    @foreach (var item in Model)
                    {
                        <div class="col">
                            <div class="card w-100">
                                <img src="~/img/@Html.DisplayFor(modelItem => item.ProductImagePathOne)" class="card-img-top px-4 pt-4" alt="...">
                                <div class="card-body">
                                    <p class="card-title">@Html.DisplayFor(modelItem => item.ProductName)</p>
                                    
                                    <span class="card-text text-danger fw-bold mb-1">@Math.Round(item.Price).ToString("C0")</span>
                                    <p style="font-size: 8px;" class="card-text mb-1">已售出：@(item.QuantitySold)</p>
                                                                   
                                    <a href="@Url.Action("UserSingleProduct", "UserProduct", new {productid=item.ProductId})" class="btn btn-secondary">了解更多...</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!-- 商品結束 -->
                <!-- 分頁標籤 -->
                <nav aria-label="Page navigation example ">
                    <ul class="pagination justify-content-center mt-3">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>

        //篩選條件-全部 最熱銷 價格高到低 低到高
        $(document).ready(function() {
            var products = @Html.Raw(Json.Encode(Model)); // 將 Model 序列化為 JSON 字串
            $("#btnAll").css({ "background-color": "#0D47A1", "color": "white" })//預設樣式被點選


            // 定義所有的分類編碼
            var subcategoryIds = [
                101, 102, 103, 104, 105, 106, 107, 108, 109, 110,
                201, 202, 203, 204, 205, 206, 207,
                301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311
            ];


            //定義所有品牌編碼
            var BrandIds = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14];

            function filterSelected() {
                var selectedSubcategories = [];
                var selectedBrands = [];

                // 循環通過所有可能的 SubcategoryId
                subcategoryIds.forEach(function (subcategoryId) {
                    if ($("#isSubcategorySelected" + subcategoryId).prop("checked")) {
                        selectedSubcategories.push(subcategoryId);
                    }
                });

                //循環被選的品牌
                BrandIds.forEach(function (BrandId) {
                    if ($("#isBrandSelected" + BrandId).prop("checked")) {
                        selectedBrands.push(BrandId);
                    }
                })

                // 如果沒有選中任何 SubcategoryId，則返回所有產品
                if (selectedSubcategories.length === 0 && selectedBrands.length === 0) {
                    return products;
                } else if (selectedSubcategories.length !== 0 || selectedBrands.length !== 0) {
                    return products.filter(function (product) {
                        return selectedSubcategories.includes(product.SubcategoryId) ||selectedBrands.includes(product.BrandId);
                    });
                } else if (selectedSubcategories.length === 0 || selectedBrands.length !== 0) {
                    return products.filter(function (product) {
                        return selectedBrands.includes(product.BrandId);
                    });
                } else if (selectedSubcategories.length !== 0 || selectedBrands.length === 0) {
                    return products.filter(function (product) {
                        return selectedSubcategories.includes(product.SubcategoryId);
                    });
                }

               
            }


            $("#isSelected").on('click', function () {
                products = @Html.Raw(Json.Encode(Model));
                products = filterSelected();
                updateProductContainer();
            });

            //按下清除設定
            $("#btnDelete").on('click', async function () {

                location.reload();
            });


            //按下全部
            $("#btnAll").on('click', async function () {
                $(this).css({ "background-color": "#0D47A1", "color": "white" })
                $("#btnHot,#btnPriceHight,#btnPriceLow").css({ "background-color": "transparent", "color": "#0D47A1", "border": "1px solid #0D47A1" })

                products.sort(function (a, b) {
                    return a.ProductId - b.ProductId;
                });

                updateProductContainer();

            });

            // 按下按鈕 "最熱銷"
            $("#btnHot").click(function () {
                $(this).css({ "background-color": "#0D47A1", "color": "white" })
                $("#btnAll,#btnPriceHight,#btnPriceLow").css({ "background-color": "transparent", "color": "#0D47A1", "border": "1px solid #0D47A1" })

                // 將商品按照 QuantitySold 屬性由高到低排序
                products.sort(function(a, b) {
                    return b.QuantitySold - a.QuantitySold;//如果回傳值為正數,由高到低
                });

                updateProductContainer();
            });

            //按下價格高到低
            $("#btnPriceHight").click(function () {
                $(this).css({ "background-color": "#0D47A1", "color": "white" })
                $("#btnAll,#btnHot,#btnPriceLow").css({ "background-color": "transparent", "color": "#0D47A1", "border": "1px solid #0D47A1" })

                // 將商品按照 Price 屬性由高到低排序
                products.sort(function(a, b) {
                    return b.Price - a.Price;
                });

                updateProductContainer();
            });

            // 按下價格低到高
            $("#btnPriceLow").click(function () {
                $(this).css({ "background-color": "#0D47A1", "color": "white" })
                $("#btnAll,#btnHot,#btnPriceHight").css({ "background-color": "transparent", "color": "#0D47A1", "border": "1px solid #0D47A1" })

                // 將商品按照 Price 屬性由低到高排序
                products.sort(function(a, b) {
                    return a.Price - b.Price;
                });

                updateProductContainer();
            });

            // 重新生成商品迴圈內容的函式
            function updateProductContainer() {
                var container = $("#productContainer");
                container.empty();

                $.each(products, function(index, item) {
                    var productCard = `
                        <div class="col">
                            <div class="card w-100">
                                <img src="/img/${item.ProductImagePathOne}" class="card-img-top px-4 pt-4" alt="...">
                                <div class="card-body">
                                    <p class="card-title">${item.ProductName}</p>
                                    <span class="card-text text-danger fw-bold">NT$${Math.round(item.Price).toLocaleString()}</span>
                                    <p style="font-size: 8px;" class="card-text mb-1">已售出：${item.QuantitySold}</p>
                                    <a href="@Url.Action("UserSingleProduct", "UserProduct")?productid=${item.ProductId}" class="btn btn-secondary">了解更多...</a>
                                </div>
                            </div>
                        </div>
                    `;
                    container.append(productCard);
                });
            }
        });

    </script>

}
