@*這是一個*@
@model prjEShopping.Models.DTOs.UserProductIndexDto


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //各項商品頁面


}

<div class="bg-light">

    <!-- 分類標籤(麵包屑 (Breadcrumb)) -->
    <div class="container mb-3 pt-3">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="fw-bold fs-4">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#" class="text-blue fw-bold text-decoration-none fs-5">E起購</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" class="text-blue fw-bold text-decoration-none fs-5">@Model.CategoryName</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" class="text-blue fw-bold text-decoration-none fs-5">@Model.SubcategoryName</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#" class="text-blue fw-bold text-decoration-none fs-5">@Model.ProductName</a>
                </li>
            </ol>
        </nav>
    </div>


    <!-- 商品圖 -->
    <div class="container bg-success rounded py-2">
        <div class="row">
            <div class="col-5">
                <div class="text-center my-3">
                    <img src="" alt="" class="img-fluidMY" id="mainimg" />
                </div>
                <div class="row">
                    <div class="col">
                        <img src="~/img/@Model.ProductImagePathOne" alt="" class="img-fluid thumb-img" data-target="#mainimg" />
                    </div>
                    <div class="col">
                        <img src="~/img/@Model.ProductImagePathTwo" alt="" class="img-fluid thumb-img" data-target="#mainimg" />
                    </div>
                    <div class="col">
                        <img src="~/img/@Model.ProductImagePathThree" alt="" class="img-fluid thumb-img" data-target="#mainimg" />
                    </div>
                </div>
            </div>

            <div class="col-7 pt-5">
                <div class="row">
                    <div class="col-3 d-flex align-items-center">
                        <span>品名：</span>
                    </div>
                    <div class="col-9">
                        <span class="fs-4 fw-bold">@Model.ProductName</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-3 d-flex align-items-center">
                        <span>資訊：</span>
                    </div>
                    <div class="col-9">
                        <div class="d-flex">
                            <a href="#">
                                <h5 class="text-danger fw-bold" id="averageStarRating"></h5>
                            </a>
                            <span class="ms-1 me-2">顆星</span>
                            <a href="#">
                                <h5 class="text-danger fw-bold" id="totalRatings"></h5>
                            </a>
                            <span class="ms-2 me-2">評價</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 d-flex align-items-center">
                        <span>價格：</span>
                    </div>
                    @*<div class="col-9">
                            <span class="fs-1 fw-bold text-danger">@Math.Round(Model.Price).ToString("C0")</span>
                        </div>*@

                    @if (Model.DiscountPrice != Model.Price)//要寫判斷式 有折扣
                    {
                        <div class="col-9 d-flex">
                            <span class="fs-1 fw-bold text-decoration-line-through">@Math.Round(Model.Price).ToString("C0")</span>@*單價*@
                            <span class="fs-1 fw-bold text-danger">@Math.Round(Model.DiscountPrice).ToString("C0")</span>
                        </div>
                    }
                    else
                    {
                        <div class="col-9 d-flex flex-column justify-content-center">
                            <span class="fs-1 fw-bold text-danger">@Math.Round(Model.Price).ToString("C0")</span>@*單價*@
                        </div>
                    }
                </div>
                @*<div class="row mt-3">
                        <div class="col-3 d-flex align-items-center">
                            <span>賣場折價券：</span>
                        </div>
                        <div class="col-9">
                            <div class="btn btn-blue">領取折價券</div>
                        </div>
                    </div>*@
                <div class="row mt-3">
                    <div class="col-3 d-flex align-items-center">
                        <span>數量：</span>
                    </div>
                    <div class="col-9">
                        <div class="d-flex align-items-center">
                            <div class="input-group" style="width: 120px;">
                                @*加減數量*@
                                <button class="btn btn-outline-primary minusBtn" type="button">-</button>
                                <input type="text" class="form-control" id="quantityInput" readonly>
                                <button class="btn btn-outline-primary plusBtn" type="button">+</button>
                            </div>
                            <span class="ms-2">還剩：</span>
                            <span>@(Model.ProductStock)</span>
                            <span>件</span>
                            <span class="ms-2">/</span>
                            <span class="ms-2">已售出：</span>
                            <span>@(Model.QuantitySold)</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 flex-column flex-md-row">
                    <div class="col mb-3 mb-md-0">
                        <button class="btn-outline-primary btn rounded-pill btn-lg add2cart" data-id="@(Model.ProductId)" data-stockqty="@(Model.ProductStock)">
                            <i class="fa-solid fa-cart-shopping"></i>
                            加入購物車
                        </button>

                    </div>
                    <div class="col mb-3 mb-md-0">
                        <button class="btn-outline-primary btn rounded-pill btn-lg directadd2cart" data-id="@(Model.ProductId)">
                            <i class="fa-solid fa-wallet"></i>
                            直接購買
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn-outline-primary btn rounded-pill btn-lg" id="trackProduct" data-id="@(Model.ProductId)">
                            <i class="fas fa-heart custom-heart"></i>
                            加入追蹤
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn-outline-primary btn rounded-pill btn-lg" data-bs-toggle="modal" data-bs-target="#reportModal" data-productId="@(Model.ProductId)" data-userid="@ViewBag.UserId">
                            <i class="fa-solid fa-triangle-exclamation"></i>
                            投訴
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- 商品規格&詳情 -->
    <div class="container bg-success rounded py-2 mt-3">
        <div class="bg-warning p-3">
            <span class="fs-4 fw-bold">商品規格</span>
        </div>
        <div class="ms-1 mt-1">
            <div class="row">
                <div class="col-sm-2 col-lg-1">
                    <span>分類</span>
                </div>
                <div class="col-sm-10 col-lg-11">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#" class="text-blue text-decoration-none">E起購</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#" class="text-blue text-decoration-none">@Model.CategoryName</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#" class="text-blue text-decoration-none">@Model.SubcategoryName</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#" class="text-blue text-decoration-none">@Model.ProductName</a>
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-2 col-lg-1">
                    <span>品牌</span>
                </div>
                <div class="col-sm-10 col-lg-11">
                    <span class="mb-3">@Model.BrandName</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-2 col-lg-1">
                    <span>@Model.SpecificationNameOne</span>
                </div>
                <div class="col-sm-10 col-lg-11">
                    <span class="mb-3">@Model.OptionNameOne</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-2 col-lg-1">
                    <span>@Model.SpecificationNameTwo</span>
                </div>
                <div class="col-sm-10 col-lg-11">
                    <span class="mb-3">@Model.OptionNameTwo</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-2 col-lg-1">
                    <span>@Model.SpecificationNameThree</span>
                </div>
                <div class="col-sm-10 col-lg-11">
                    <span class="mb-3">@Model.OptionNameThree</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-2 col-lg-1">
                    <span>@Model.SpecificationNameFour</span>
                </div>
                <div class="col-sm-10 col-lg-11">
                    <span class="mb-3">@Model.OptionNameFour</span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-2 col-lg-1">
                    <span>@Model.SpecificationNameFive</span>
                </div>
                <div class="col-sm-10 col-lg-11">
                    <span class="mb-3">@Model.OptionNameFive</span>
                </div>
            </div>
        </div>

        <div class="bg-warning p-3">
            <span class="fs-4 fw-bold">商品詳情</span>
        </div>
        <div class="mt-2 ms-2">
            <span>@Model.ProductDescription</span>
        </div>
    </div>


    <!-- 商品評價 -->
    <div class="container bg-success rounded py-2 mt-3">
        <div class="bg-warning p-3 mb-3">
            <span class="fs-4 fw-bold">商品評價</span>
        </div>

        <p>
            <button class="btn btn-secondary" type="button" onclick="toggleCollapse('allstar')" aria-expanded="false" aria-controls="collapseExample">
                全部(<span id="allstarCount"></span>)
            </button>
            <button class="btn btn-secondary" type="button" onclick="toggleCollapse('fivestar')" aria-expanded="false" aria-controls="collapseExample">
                5星(<span id="fivestarCount"></span>)
            </button>
            <button class="btn btn-secondary" type="button" onclick="toggleCollapse('fourstar')" aria-expanded="false" aria-controls="collapseExample">
                4星(<span id="fourstarCount"></span>)
            </button>
            <button class="btn btn-secondary" type="button" onclick="toggleCollapse('threestar')" aria-expanded="false" aria-controls="collapseExample">
                3星(<span id="threestarCount"></span>)
            </button>
            <button class="btn btn-secondary" type="button" onclick="toggleCollapse('twostar')" aria-expanded="false" aria-controls="collapseExample">
                2星(<span id="twostarCount"></span>)
            </button>
            <button class="btn btn-secondary" type="button" onclick="toggleCollapse('onestar')" aria-expanded="false" aria-controls="collapseExample">
                1星(<span id="onestarCount"></span>)
            </button>
        </p>

        <!-- 全部內容 -->
        <div class="collapse" id="allstar">
        </div>
        <!-- 五星內容 -->
        <div class="collapse" id="fivestar">
        </div>
        <!-- 四星內容 -->
        <div class="collapse" id="fourstar">
        </div>
        <!-- 三星內容 -->
        <div class="collapse" id="threestar">
        </div>
        <!-- 兩星內容 -->
        <div class="collapse" id="twostar">
        </div>
        <!-- 一星內容 -->
        <div class="collapse" id="onestar">
        </div>
    </div>
</div>

@*加入購物車跳出視窗*@
<div class="modal" id="addToCartModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                商品已成功加入購物車。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary confirmButton" data-bs-dismiss="modal" id="confirmButtonadd">確定</button>
            </div>
        </div>
    </div>
</div>


@*庫存不足*@
<div class="modal" id="stockCartModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                庫存不足，請選購其他商品。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="confirmButtonstock">確定</button>
            </div>
        </div>
    </div>
</div>


@*加入追蹤*@
<div class="modal" id="track" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                加入追蹤。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="confirmButtonstock">確定</button>
            </div>
        </div>
    </div>
</div>
@*移除追蹤*@
<div class="modal" id="notrack" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                移除追蹤。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="confirmButtonstock">確定</button>
            </div>
        </div>
    </div>
</div>

@*投訴*@
<!-- Modal -->
<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">商品投訴單</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="complaintForm">
                    <div class="form-group">
                        <label for="complaintNumber">客訴單號：</label>
                        <input type="text" class="form-control" id="SupportNumber" name="SupportNumber" value="@ViewBag.SupportNum" readonly>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="UserId" name="UserId" value="" readonly hidden>
                    </div>
                    <div class="form-group">
                        <label for="complaintType">投訴類別：</label>
                        <input type="text" class="form-control" id="SupportType" name="SupportType" value="商品投訴" readonly />
                    </div>
                    <div class="form-group">
                        <label for="complaintProduct">投訴商品：</label>
                        <input type="text" class="form-control" id="complaintProduct" value="@Model.ProductName" readonly>
                        <input type="text" class="form-control" id="ProductId" name="ProductId" value="" readonly hidden>
                    </div>
                    <div class="form-group">
                        <label for="title">標題：</label>
                        <input type="text" class="form-control" id="SupportTitle" name="SupportTitle" maxlength="20">
                    </div>
                    <div class="form-group">
                        <label for="content">內容：</label>
                        <textarea class="form-control" id="SupportText" name="SupportText" rows="5" maxlength="500">
投訴商品:@Model.ProductName
投訴原因:
                         </textarea>
                        <input class="form-control" type="file" id="ImageFile" name="ImageFile">
                        <img id="imagePreview" src="" alt="" style="width:200px;" class="my-3" hidden />
                        <input type="datetime" class="form-control" id="ReceivedTime" name="ReceivedTime" readonly value="@DateTime.Now" hidden>
                        <input type="text" class="form-control" id="SupportStatus" name="SupportStatus" value="新進單" readonly hidden>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="submitComplaint()">寄出</button>
            </div>
        </div>
    </div>
</div>


@*投訴單已寄出*@
<div class="modal" id="supportsendmodal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                投訴單已寄出。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="confirmButtonsuppor">確定</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>

        //投訴
        $(document).ready(function () {
            $('#reportModal').on('show.bs.modal', function (event) {
                //獲取觸發窗口的按鈕
                var button = $(event.relatedTarget);

                // 從 data- 屬性中提取出 userId 和 productId
                var userId = button.data('userid');
                var productId = button.data('productid');

                // 更新窗口的內容。
                var modal = $(this);
                modal.find('#UserId').val(userId);
                modal.find('#ProductId').val(productId);
            });
        });
        function submitComplaint() {
            var formData = new FormData($('#complaintForm')[0]);

            $.ajax({
                url: '/testproductsupport/CSSendMail',
                type: 'POST',
                data: formData,
                processData: false,  // 告訴jQuery不要處理傳送的數據
                contentType: false,  // 告訴jQuery不要設置contentType
                success: function (data) {
                    //alert('投訴單已寄出');
                    $("#supportsendmodal").modal("show");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('寄送失敗');
                },
                complete: function () {
                    $('#reportModal').modal('hide');
                }
            });
        }

        //看圖片用
        $(document).ready(function () {
            $('#ImageFile').change(function (e) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    // 顯示圖片預覽
                    $('#imagePreview').attr('src', e.target.result);
                    $('#imagePreview').removeAttr('hidden');
                }

                reader.readAsDataURL(this.files[0]);
            });
        });

        //商品評價要用js判斷只留最新按的按紐
        let activeCollapse = null;

        function toggleCollapse(collapseId) {
            if (activeCollapse !== collapseId) {
                // 隱藏上一個 active 的 collapse
                if (activeCollapse !== null) {
                    document.getElementById(activeCollapse).classList.remove('show');
                }
                // 顯示新的 active collapse
                document.getElementById(collapseId).classList.add('show');
                activeCollapse = collapseId;
            } else {
                // 如果已經是 active 的按鈕，再次點擊時隱藏該 collapse
                document.getElementById(collapseId).classList.remove('show');
                activeCollapse = null;
            }
        }
        //--------------------------------------------------------------------------------------
        //加減按鈕購買數量會增減
        //取得所有的加减元件
        var minusButtons = document.querySelectorAll(".minusBtn");
        var plusButtons = document.querySelectorAll(".plusBtn");
        var quantityInputs = document.querySelectorAll("#quantityInput");
        quantityInputs.forEach(function (input) {
            input.setAttribute("value", "1");
        });
        // click
        for (var i = 0; i < minusButtons.length; i++) {
            minusButtons[i].addEventListener("click", createClickHandler(i, -1));
        }

        for (var i = 0; i < plusButtons.length; i++) {
            plusButtons[i].addEventListener("click", createClickHandler(i, 1));
        }

        // 計算
        var quantityValue = 1
        function createClickHandler(index, change) {
            return function () {
                var currentValue = parseInt(quantityInputs[index].value);
                var newValue = currentValue + change;
                if (newValue >= 1) {
                    quantityInputs[index].value = newValue.toString();
                    quantityInputs.forEach(function (input) {
                        input.setAttribute("value", newValue);
                        var quantityInput = document.querySelector("#quantityInput");
                        quantityValue = quantityInput.value;
                        //console.log(quantityValue);
                    });
                }
            }
        }


        //--------------------------------------------------------------------------------------

        //加入購物車UserCartController/UserAddCart是api
        $(document).ready(function () {
            function addToCart(productId, quantityValue, isDirectAdd) {

                //計算可購買量
                var availableStock = parseInt(document.querySelector(".add2cart").getAttribute("data-stockqty"));

                var cartqty = @ViewBag.TotalQuantity;

                var Productstock  = availableStock - quantityValue - cartqty;//庫存-現在數量-購物車數量

                if (Productstock >= 0) {
                    //ajax送出request
                    $.get("/UserCart/UserAddCartapi?ProductId=" + productId + "&Quantity=" + quantityValue)
                        .done(function () {
                            $.get("/UserCart/UserUpadateCartStockapi?ProductId=" + productId)
                                .done(function () {
                                    if (isDirectAdd) {
                                        window.location.href = "/UserCart/UserShoppingCart";
                                    } else {
                                        $("#addToCartModal").modal("show");//加入購物車成功
                                        $("#confirmButtonadd").on('click', () => {
                                            location.reload();
                                        });
                                    }
                                });
                        });
                }
                else {
                    $("#stockCartModal").modal("show");//庫存不足
                    $("#confirmButtonstock").on('click', () => {
                        location.reload();
                    });
                }
            }

            $(".add2cart, .directadd2cart").each(function () {
                $(this).on('click', function () {
                    var productId = $(this).attr("data-id");
                    var isDirectAdd = $(this).hasClass("directadd2cart");

                    addToCart(productId, quantityValue, isDirectAdd)
                })
            })



        })

        //--------------------------------------------------------------------------------------
        //點選圖片切換
        $(document).ready(function () {

            //點選縮圖時切換主圖片
            $(".thumb-img").on('click', function () {
                var targetImg = $(this).attr("src");
                var mainImg = $($(this).data("target"));
                mainImg.attr("src", targetImg);
            });

            //點選縮圖時有黃外框
            $(".thumb-img").on('click', function () {
                $(".thumb-img").removeClass("selected-thumbnail");
                $(this).addClass("selected-thumbnail");
            });

            //一載入頁面同時第一張圖片有外框
            var firstThumb = $(".thumb-img:first");
            var mainImg = $(firstThumb.data("target"));
            mainImg.attr("src", firstThumb.attr("src"));
            firstThumb.addClass("selected-thumbnail")
        })

        //追蹤商品
        $(document).ready(function () {
            async function updateTrackButtonColor(productId) {
                const result = await $.get("/UserProduct/starTrackProductapi?productId=" + productId);//一進入頁面判斷有無追蹤的api

                if (result === "TrackProduct") {
                    $("#trackProduct").css("background-color", "#FFE180");
                } else if (result === "noTrackProduct") {
                    $("#trackProduct").css("background-color", "");
                }
            }

            $("#trackProduct").each(function () {
                var productId = $(this).attr("data-id");
                updateTrackButtonColor(productId);
            });

            $("#trackProduct").on('click', async function () {
                var productId = $(this).attr("data-id");
                //console.log(productId);
                const result = await $.get("/UserProduct/TrackProductapi?productId=" + productId);

                if (result === "TrackProduct") {
                    $("#track").modal("show");
                    $(this).css("background-color", "#FFE180");
                } else if (result === "noTrackProduct") {
                    $("#notrack").modal("show");
                    $(this).css("background-color", "");
                }
            });
        });




        //評論
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("Comment", "UserProduct", new {productId=Model.ProductId })',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    var ratingone = '';
                    var ratingtwo = '';
                    var ratingthree = '';
                    var ratingfour = '';
                    var ratingfive = '';
                    var ratingall = "";

                    for (var i = 0; i < data.length; i++) {
                        var rating = data[i];

                        if (rating.StarRating === 1) {
                            var sellerComment = rating.ReplayText; // 取得賣家評論，如果有的話
                            var sellerCommentTime = rating.ReplayTime; // 取得賣家評論時間，如果有的話
                            ratingone += '<div class="card card-body">';
                            ratingone += '<div class="row row-cols-auto row-cols-md-auto row-cols-lg-auto">';
                            ratingone += '<div class="col">';
                            ratingone += '<img src="../img/' + rating.UserImagePath + '" alt="User Photo" class="user-photo">'; // 加入大頭貼圖像
                            ratingone += '</div>';
                            ratingone += '<div class="col d-flex flex-column">';
                            ratingone += '<div class="star">評分:' + generateStarIcons(rating.StarRating) + '</div>';
                            ratingone += '<div class="user">評論:' + rating.RatingText + '</div>';
                            ratingone += '<div class="user">評論時間:' + formatDate(rating.PostTime) + '</div>';
                            ratingone += '<div class="dashed-line"></div>';
                            if (sellerComment) {
                                ratingone += '<div class="seller">賣家評論:' + sellerComment + '</div>';
                            }

                            if (sellerCommentTime) {
                                ratingone += '<div class="seller">賣家評論時間:' + formatDate(sellerCommentTime) + '</div>';
                            }
                            ratingone += '</div>';
                            ratingone += '</div>';
                            ratingone += '</div>';
                            ratingone += '</div>';
                            ratingone += '</div>';
                        }

                    }
                    for (var i = 0; i < data.length; i++) {
                        var rating = data[i];

                        if (rating.StarRating === 2) {
                            var sellerComment = rating.ReplayText; // 取得賣家評論，如果有的話
                            var sellerCommentTime = rating.ReplayTime; // 取得賣家評論時間，如果有的話
                            ratingtwo += '<div class="card card-body">';
                            ratingtwo += '<div class="row row-cols-auto row-cols-md-auto row-cols-lg-auto">';
                            ratingtwo += '<div class="col">';
                            ratingtwo += '<img src="../img/' + rating.UserImagePath + '" alt="User Photo" class="user-photo">'; // 加入大頭貼圖像
                            ratingtwo += '</div>';
                            ratingtwo += '<div class="col d-flex flex-column">';
                            ratingtwo += '<div class="star">評分:' + generateStarIcons(rating.StarRating) + '</div>';
                            ratingtwo += '<div class="user">評論:' + rating.RatingText + '</div>';
                            ratingtwo += '<div class="user">評論時間:' + formatDate(rating.PostTime) + '</div>';
                            ratingtwo += '<div class="dashed-line"></div>';
                            if (sellerComment) {
                                ratingtwo += '<div class="seller">賣家評論:' + sellerComment + '</div>';
                            }

                            if (sellerCommentTime) {
                                ratingtwo += '<div class="seller">賣家評論時間:' + formatDate(sellerCommentTime) + '</div>';
                            }
                            ratingtwo += '</div>';
                            ratingtwo += '</div>';
                            ratingtwo += '</div>';
                            ratingtwo += '</div>';
                            ratingtwo += '</div>';
                        }

                    }
                    for (var i = 0; i < data.length; i++) {
                        var rating = data[i];

                        if (rating.StarRating === 3) {
                            var sellerComment = rating.ReplayText; // 取得賣家評論，如果有的話
                            var sellerCommentTime = rating.ReplayTime; // 取得賣家評論時間，如果有的話
                            ratingthree += '<div class="card card-body">';
                            ratingthree += '<div class="row row-cols-auto row-cols-md-auto row-cols-lg-auto">';
                            ratingthree += '<div class="col">';
                            ratingthree += '<img src="../img/' + rating.UserImagePath + '" alt="User Photo" class="user-photo">'; // 加入大頭貼圖像
                            ratingthree += '</div>';
                            ratingthree += '<div class="col d-flex flex-column">';
                            ratingthree += '<div class="star">評分:' + generateStarIcons(rating.StarRating) + '</div>';
                            ratingthree += '<div class="user">評論:' + rating.RatingText + '</div>';
                            ratingthree += '<div class="user">評論時間:' + formatDate(rating.PostTime) + '</div>';
                            ratingthree += '<div class="dashed-line"></div>';
                            if (sellerComment) {
                                ratingthree += '<div class="seller">賣家評論:' + sellerComment + '</div>';
                            }

                            if (sellerCommentTime) {
                                ratingthree += '<div class="seller">賣家評論時間:' + formatDate(sellerCommentTime) + '</div>';
                            }
                            ratingthree += '</div>';
                            ratingthree += '</div>';
                            ratingthree += '</div>';
                            ratingthree += '</div>';
                            ratingthree += '</div>';
                        }

                    }
                    for (var i = 0; i < data.length; i++) {
                        var rating = data[i];

                        if (rating.StarRating === 4) {
                            var sellerComment = rating.ReplayText; // 取得賣家評論，如果有的話
                            var sellerCommentTime = rating.ReplayTime; // 取得賣家評論時間，如果有的話
                            ratingfour += '<div class="card card-body">';
                            ratingfour += '<div class="row row-cols-auto row-cols-md-auto row-cols-lg-auto">';
                            ratingfour += '<div class="col">';
                            ratingfour += '<img src="../img/' + rating.UserImagePath + '" alt="User Photo" class="user-photo">'; // 加入大頭貼圖像
                            ratingfour += '</div>';
                            ratingfour += '<div class="col d-flex flex-column">';
                            ratingfour += '<div class="star">評分:' + generateStarIcons(rating.StarRating) + '</div>';
                            ratingfour += '<div class="user">評論:' + rating.RatingText + '</div>';
                            ratingfour += '<div class="user">評論時間:' + formatDate(rating.PostTime) + '</div>';
                            ratingfour += '<div class="dashed-line"></div>';
                            if (sellerComment) {
                                ratingfour += '<div class="seller">賣家評論:' + sellerComment + '</div>';
                            }
                            if (sellerCommentTime) {
                                ratingfour += '<div class="seller">賣家評論時間:' + formatDate(sellerCommentTime) + '</div>';
                            }

                            ratingfour += '</div>';
                            ratingfour += '</div>';
                            ratingfour += '</div>';
                            ratingfour += '</div>';
                            ratingfour += '</div>';
                        }

                    }
                    for (var i = 0; i < data.length; i++) {
                        var rating = data[i];

                        if (rating.StarRating === 5) {
                            var sellerComment = rating.ReplayText; // 取得賣家評論，如果有的話
                            var sellerCommentTime = rating.ReplayTime; // 取得賣家評論時間，如果有的話
                            ratingfive += '<div class="card card-body">';
                            ratingfive += '<div class="row row-cols-auto row-cols-md-auto row-cols-lg-auto">';
                            ratingfive += '<div class="col">';
                            ratingfive += '<img src="../img/' + rating.UserImagePath + '" alt="User Photo" class="user-photo">'; // 加入大頭貼圖像
                            ratingfive += '</div>';
                            ratingfive += '<div class="col d-flex flex-column">';
                            ratingfive += '<div class="star">評分:' + generateStarIcons(rating.StarRating) + '</div>';
                            ratingfive += '<div class="user">評論:' + rating.RatingText + '</div>';
                            ratingfive += '<div class="user">評論時間:' + formatDate(rating.PostTime) + '</div>';
                            ratingfive += '<div class="dashed-line"></div>';
                            if (sellerComment) { // Check for non-null value
                                ratingfive += '<div class="seller">賣家評論:' + sellerComment + '</div>';
                            }

                            if (sellerCommentTime) { // Check for non-null value
                                ratingfive += '<div class="seller">賣家評論時間:' + formatDate(sellerCommentTime) + '</div>';
                            }
                            ratingfive += '</div>';
                            ratingfive += '</div>';
                            ratingfive += '</div>';
                            ratingfive += '</div>';
                            ratingfive += '</div>';

                        }
                    }
                    for (var i = 0; i < data.length; i++) {
                        var rating = data[i];

                        if (rating.StarRating > 0) {
                            var sellerComment = rating.ReplayText; // 取得賣家評論，如果有的話
                            var sellerCommentTime = rating.ReplayTime; // 取得賣家評論時間，如果有的話
                            ratingall += '<div class="card card-body">';
                            ratingall += '<div class="row row-cols-auto row-cols-md-auto row-cols-lg-auto">';
                            ratingall += '<div class="col">';
                            ratingall += '<img src="../img/' + rating.UserImagePath +'" alt="User Photo" class="user-photo">';
                            ratingall += '</div>';
                            ratingall += '<div class="col d-flex flex-column">';
                            ratingall += '<div class="star">評分:' + generateStarIcons(rating.StarRating) + '</div>';
                            ratingall += '<div class="user">評論:' + rating.RatingText + '</div>';
                            ratingall += '<div class="user">評論時間:' + formatDate(rating.PostTime) + '</div>';
                            ratingall += '<div class="dashed-line"></div>';
                            if (sellerComment) { // Check for non-null value
                                ratingall += '<div class="seller">賣家評論:' + sellerComment + '</div>';
                            }

                            if (sellerCommentTime) { // Check for non-null value
                                ratingall += '<div class="seller">賣家評論時間:' + formatDate(sellerCommentTime) + '</div>';
                            }
                            ratingall += '</div>';
                            ratingall += '</div>';
                            ratingall += '</div>';
                            ratingall += '</div>';
                            ratingall += '</div>';

                        }

                    }
                    $('#onestar').html(ratingone);
                    $('#twostar').html(ratingtwo);
                    $('#threestar').html(ratingthree);
                    $('#fourstar').html(ratingfour);
                    $('#fivestar').html(ratingfive);
                    $('#allstar').html(ratingall);

                    var onestarCount = 0;
                    var twostarCount = 0;
                    var threestarCount = 0;
                    var fourstarCount = 0;
                    var fivestarCount = 0;
                    var allstarCount = 0;
                    var totalRatings = data.length;
                    var totalStarRating = 0;

                    for (var i = 0; i < data.length; i++) {
                        var rating = data[i];

                        if (rating.StarRating === 1) {
                            onestarCount++;
                        } else if (rating.StarRating === 2) {
                            twostarCount++;
                        } else if (rating.StarRating === 3) {
                            threestarCount++;
                        } else if (rating.StarRating === 4) {
                            fourstarCount++;
                        } else if (rating.StarRating === 5) {
                            fivestarCount++;
                        }
                        totalStarRating += data[i].StarRating;

                    }
                    var averageStarRating;
                    if (totalRatings === 0) {
                        averageStarRating = 0;
                    } else {
                        averageStarRating = totalStarRating / totalRatings;
                    }

                    // 更新一星评价的数量显示
                    $('#onestarCount').text(onestarCount);
                    $('#twostarCount').text(twostarCount);
                    $('#threestarCount').text(threestarCount);
                    $('#fourstarCount').text(fourstarCount);
                    $('#fivestarCount').text(fivestarCount);
                    $('#allstarCount').text(data.length);
                    $('#averageStarRating').text(averageStarRating.toFixed(1));
                    $('#totalRatings').text(totalRatings);
                }
            })
        })
        function formatDate(theDate) {
            console.log("Original Date:", theDate);
            let aDate = "";
            dateArray = theDate.split(" ");
            // Remove empty elements from the array
            dateArray = dateArray.filter(item => item !== '');

            // Reorder the date parts [2][0][1][3]
            const year = dateArray[2];
            const month = parseInt(dateArray[0]).toString();
            const day = dateArray[1];
            const time = dateArray[3];


            aDate = `${year}/${month}/${day} ${time}`;
            console.log(dateArray)
            //aDate = `${dateArray[3]}/${dateArray[0]}/${dateArray[2]} ${dateArray[4]}`
            return aDate

        }
        function generateStarIcons(starRating) {
            var starIcons = '';
            for (var i = 0; i < starRating; i++) {
                starIcons += '<img src="../img/goldstar.png" alt="Star" class="star-icon">';
            }
            return starIcons;
        }
    </script>
    <style>
        .dashed-line {
            border-bottom: 1px dashed #ccc; /* 虛線樣式 */
            margin: 8px 0; /* 虛線下方的間距 */
        }

        .seller {
            color: #8020b4
        }

        .user {
            color: #e96cd7
        }

        .user-photo {
            width: 50px; /* 設定寬度 */
            height: 50px; /* 設定高度 */
            border-radius: 50%; /* 設定圓角使圖像呈現圓形 */
        }

        .star-icon {
            width: 24px; /* 設定圖片寬度 */
            height: 24px; /* 設定圖片高度 */
            vertical-align: middle; /* 垂直對齊以使圖片與文字居中對齊 */
        }
    </style>
}
