@model prjEShopping.Models.EFModels.Seller

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Seller</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SellerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerPassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerPassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerPasswordSalt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerPasswordSalt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GUINumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GUINumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StoreIntro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StoreIntro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccessRightId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccessRightId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethodId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethodId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShippingMethodId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShippingMethodId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADPoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADPoints)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellerImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellerImagePath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailCheck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailCheck)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
