@model IEnumerable<prjEShopping.Models.ViewModels.ADProductVM>

@{
    ViewBag.Title = "ADList";
    Layout = "~/Views/Shared/_LayoutAdminLogin.cshtml";
}

<div class="col-6 bg-secondary overflow-auto">
    <h2>已購買廣告</h2>

    <p>
        @Html.ActionLink("購買廣告", "List", null, new {@class="btn btn-primary"})
    </p>
    <table class="table table-primary table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ADName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADField)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADEndDate)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ADName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADFieldName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADEndDate)
                </td>
                <td>
                    @Html.ActionLink("修改", "Edit", new { id = item.ADProductId }, new {@class="btn btn-info"})
                </td>
            </tr>
        }

    </table>
</div>

@section Scripts{

    <script>

    </script>
}

@section Styles{
    <style>
    </style>
}