@model List<prjEShopping.Models.ViewModels.UserShoppingCartVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    //購物車
}


<div class="bg-light">
    <div class="container pt-2">
        <p class="text-primary fs-3 fw-bold">購物車</p>
        <div class="row bg-success rounded py-3 mb-3">
            <div class="col-1">
                <input type="checkbox" class="form-check-input">
            </div>
            <div class="col-3">
                <span>商品</span>
            </div>
            <div class="col-2">
                <span>單價</span>
            </div>
            <div class="col-2">
                <span>數量</span>
            </div>
            <div class="col-2">
                <span>總計</span>
            </div>
            <div class="col-2">
                <span>操作</span>
            </div>
        </div>

        <div class="row bg-success rounded py-3 mb-3">
            <div class="row mb-3">
                <div class="col-1 d-flex align-items-center">
                    <input type="checkbox" class="form-check-input">
                </div>
                <div class="col-3 d-flex align-items-center">
                    <span>賣家名稱</span>
                </div>
                <div class="col-2 d-flex align-items-center">
                    <button class="btn btn-blue">聊聊</button>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col-1">
                        <input type="checkbox" class="form-check-input">
                    </div>
                    <div class="col-3">
                        <div class="mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-4">
                                    <img src="~/img/@Html.DisplayFor(modelItem => item.ProductImagePathOne)" class="img-fluid rounded-start" alt="...">
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <p class="card-text">@item.ProductName</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 d-flex align-items-center">
                        <span>@Math.Round(item.Price).ToString("C0")</span>
                    </div>
                    <div class="col-2 d-flex align-items-center">
                        <div class="input-group" style="width: 120px;">
                            @*加減數量*@
                            <button class="btn btn-outline-primary minusBtn" type="button">-</button>
                            <input type="text" class="form-control" id="quantityInput" readonly value="@item.Quantity">
                            <button class="btn btn-outline-primary plusBtn" type="button">+</button>
                        </div>
                    </div>
                    <div class="col-2 d-flex align-items-center">
                        @*<span class="text-danger fw-bold">$@string.Format("{0:n0}", Math.Round((decimal)item.SubTotal))</span>*@
                        <span class="text-danger fw-bold">@Math.Round(item.SubTotal).ToString("C0")</span>
                    </div>
                    <div class="col-2 d-flex align-items-center">
                        <button class="btn btn-danger delete2cart" data-id="@item.ProductId">刪除</button>
                    </div>
                </div>
            }
        </div>



        <!-- 結帳 -->
        <div class="row bg-success rounded py-3">
            <div class="row mb-3">
                <div class="col-1 d-flex align-items-center">
                    <input type="checkbox" class="form-check-input">
                </div>
                <div class="col-3 d-flex align-items-center">
                    <span>全選</span>
                    <span class="text-danger fw-bold">(</span>
                    <span class="text-danger fw-bold totalItemCount"></span>
                    <span class="text-danger fw-bold">)</span>
                </div>

                <div class="col-4 d-flex align-items-center">
                    <span>總金額(</span>
                    <span class="text-danger fw-bold totalItemCount"></span>
                    <span>個商品)：</span>
                </div>
                <div class="col-2 d-flex align-items-center">
                    <span class="text-danger fw-bold fs-4"> @Math.Round(ViewBag.TotalPrice).ToString("C0")</span>
                </div>
                <div class="col-2 d-flex align-items-center">
                    @*<a id="checkoutLink" href="@Url.Content("~/UserCart/UserCheckout")" class="btn btn-secondary flex-grow-1 btn-lg">去買單</a>*@
                    <a href="@Url.Content("~/UserCart/UserCheckout")" class="btn btn-secondary flex-grow-1 btn-lg checkoutLink">去買單</a>
                </div>
            </div>
        </div>
    </div>
</div>


@*去買單跳出視窗是否有商品*@
<div class="modal" id="checkCartModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                購物車中沒有商品，無法前往結帳。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="confirmButton">確定</button>                
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        //刪除購物車的商品
        $(document).ready(function () {
            $(".delete2cart").each(function () {
                $(this).on('click', async function () {
                    var self = $(this);
                    var productid = self.attr("data-id");

                    const result = await $.get("/UserCart/UserDeleteCartapi?ProductId=" + productId)

                    //待補跳出視窗確定是否要刪除
                })
            })
        })
    </script>
}

