@model List<prjEShopping.Models.ViewModels.UserShoppingCartVM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="bg-light">
    <div class="container pt-2">
        <p class="text-primary fs-3 fw-bold">結帳</p>
        <div class="row bg-success rounded py-3 mb-3">
            <div class="col-6">
                <span>訂單商品</span>
            </div>
            <div class="col-2">
                <span>單價</span>
            </div>
            <div class="col-2">
                <span>數量</span>
            </div>
            <div class="col-2">
                <span>總計</span>
            </div>
        </div>

        @{
            //依照賣家ID分組
            var productBySeller = Model.GroupBy(item => item.SellerId);
        }

        @foreach (var sellerGroup in productBySeller)
        {
            <div class="row bg-success rounded py-3 mb-3">
                <div class="row mb-3">
                    <div class="col d-flex align-items-center">
                        <span>@sellerGroup.FirstOrDefault().SellerName</span>
                    </div>
                </div>
                @foreach (var item in sellerGroup)
                {
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="~/img/@Html.DisplayFor(modelItem => item.ProductImagePathOne)" class="img-fluid rounded-start" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <p class="card-text">@item.ProductName</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <span>@Math.Round(item.Price).ToString("C0")</span>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            <span>@item.Quantity</span>
                        </div>
                        <div class="col-2 d-flex align-items-center">
                            @*<span class="text-danger fw-bold">$@string.Format("{0:n0}", Math.Round((decimal)item.SubTotal))</span>*@
                            <span class="text-danger fw-bold">@Math.Round(item.SubTotal).ToString("C0")</span>
                        </div>
                    </div>
                }
            </div>
        }




        <!-- 結帳區 -->
        <!-- 優惠券 -->
        <div class="row bg-lightyellow rounded py-3 mb-3">
            <div class="col-2 d-flex align-items-center justify-content-center">
                <span class="fw-bold">優惠券</span>
            </div>
            <div class="col-6 d-flex align-items-center">
                <div class="d-flex flex-column">
                    <div class="my-1">
                        <span>已選擇</span>
                        <span class="text-danger">全館85折</span>
                        <span>優惠券</span>
                        <button class="btn btn-danger btn-sm">刪除</button>
                    </div>
                    <div class="my-1">
                        <span>已選擇</span>
                        <span class="text-danger">全館85折</span>
                        <span>優惠券</span>
                        <button class="btn btn-danger btn-sm">刪除</button>
                    </div>
                    <div class="my-1">
                        <span>已選擇</span>
                        <span class="text-danger">全館85折</span>
                        <span>優惠券</span>
                        <button class="btn btn-danger btn-sm">刪除</button>
                    </div>
                </div>
            </div>
            <div class="col-4 d-flex align-items-center">

                <!-- 選擇優惠券button -->
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#coupon">
                    選擇優惠券
                </button>

                <!-- Modal -->
                <div class="modal fade" id="coupon" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-scrollable">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">選擇優惠券</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            @*<div class="modal-body">
                                    <div class="d-flex align-items-center mb-3">
                                        <span class="me-3">新增優惠券</span>
                                        <input type="text" placeholder="請輸入優惠券代碼" class="me-3">
                                        <button type="button" class="btn btn-secondary">領取</button>
                                    </div>

                                    <div class="d-flex me-5 coupon-item mb-5">
                                        <img src="img/coupon.png" alt="">
                                        <div class="d-flex flex-column p-2 bg-info">
                                            <span>Apple折價券</span>
                                            <span>Apple全館打85折</span>
                                            <span>20230701-20230731</span>
                                            <div class="d-flex">
                                                <a href="#">查看賣場<i class="fa-solid fa-caret-right"></i></a>
                                                <button type="button" class="btn btn-secondary ms-3">領取</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex me-5 coupon-item mb-5">
                                        <img src="img/coupon.png" alt="">
                                        <div class="d-flex flex-column p-2 bg-info">
                                            <span>Apple折價券</span>
                                            <span>Apple全館打85折</span>
                                            <span>20230701-20230731</span>
                                            <div class="d-flex">
                                                <a href="#">查看賣場<i class="fa-solid fa-caret-right"></i></a>
                                                <button type="button" class="btn btn-secondary ms-3">領取</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex me-5 coupon-item mb-5">
                                        <img src="img/coupon.png" alt="">
                                        <div class="d-flex flex-column p-2 bg-info">
                                            <span>Apple折價券</span>
                                            <span>Apple全館打85折</span>
                                            <span>20230701-20230731</span>
                                            <div class="d-flex">
                                                <a href="#">查看賣場<i class="fa-solid fa-caret-right"></i></a>
                                                <button type="button" class="btn btn-secondary ms-3">領取</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                            <div class="modal-footer">
                                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary">好</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- 優惠券 -->
        @*<form method="post" enctype="multipart/form-data" action="UserCheckout">*@
        <!-- 運送方式 -->
        <div class="row bg-lightyellow rounded py-3 mb-3">
            <div class="col-2 d-flex align-items-center justify-content-center">
                <span class="fw-bold">運送方式</span>
            </div>
            <div class="col-4 d-flex flex-column">
                <select id="shippingMethod" class="form-select mb-3" @*name="ShippingMethodName"*@>
                </select>

                <input class="form-control mb-3" type="text" placeholder="請填入收件者" id="receiver" @*name="Receiver"*@>
                <input class="form-control" type="text" placeholder="請填入收件地址" id="receiverAddress" @*name="ReceiverAddress"*@>
            </div>
            <div class="col-6 d-flex align-items-center">
                <div class="btn btn-light border border-3" id="btnReceiver">DemoReceiver</div>
            </div>


        </div>

        <!-- 運送方式 -->
        <!-- 付款方式 -->
        <div class="row bg-lightyellow rounded py-3 mb-3">
            <div class="col-2 d-flex align-items-center justify-content-center">
                <span class="fw-bold">付款方式</span>
            </div>
            <div class="col-4 d-flex align-items-center">
                <select id="paymentMethod" class="form-select" @*name="PaymentMethodName"*@>
                </select>
            </div>
            <div class="col-6 d-flex align-items-center">
            </div>
        </div>




        <!-- 付款方式 -->
        <!-- 金額 -->
        <div class="row bg-warning rounded py-3 px-5">
            <div class="fs-5 mb-3">
                <div class="d-flex justify-content-between">
                    <span>商品價格小計：</span>
                    <div class="d-flex">
                        <span>NT$</span>
                        <span class="totalItemcheckedPrice"></span>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <span>運費：</span>
                    <span></span>
                </div>
                <div class="d-flex justify-content-between">
                    <span class="text-danger">運費折扣小計：</span>
                    <span class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-between">
                    <span class="text-danger">已使用賣場優惠券：</span>
                    <span class="text-danger"></span>
                </div>
                <div class="d-flex border-top border-2 border-dark pt-2 mt-2 justify-content-between">
                    <span>付款金額：</span>
                    <span></span>
                </div>
            </div>
            <button class="btn btn-secondary btn-lg add2order" @*type="submit"*@>下訂單</button>
        </div>
        @*</form>*@
    </div>
</div>

@*繳費。*@
<div class="modal" id="add2orderpayModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                購買完成，前往繳費。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="add2orderpayconfirmButton">確定</button>
            </div>
        </div>
    </div>
</div>

@*購買完成，請到購買清單確認訂單詳情。*@
<div class="modal" id="add2orderModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                購買完成，請到購買清單查看詳情。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="add2orderconfirmButton">確定</button>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>

        //呼叫寫進order的api
        $(document).ready(function () {
            $(".add2order").each(function () {
                $(this).on('click', async function () {
                    const result = await $.get("/UserCart/UserCheckoutapi");

                    var shippingMethod = document.getElementById("shippingMethod").value;
                    var paymentMethod = document.getElementById("paymentMethod").value;
                    var receiverValue = $("#receiver").val();
                    var receiverAddressValue = $("#receiverAddress").val();

                    const result2 = await $.post("/UserCart/UserCheckoutDataapi", {
                        shippingMethod: shippingMethod,
                        paymentMethod: paymentMethod,
                        receiverValue: receiverValue,
                        receiverAddressValue: receiverAddressValue
                    });

                    $("#add2orderpayModal").modal("show");//去繳費

                    $("#add2orderpayconfirmButton").on('click', () => {
                        window.location.href = "/UserECpay/ToECpay";
                    })

                    //$("#add2orderModal").modal("show");//modal-購買完成

                    //$("#add2orderconfirmButton").on('click', () => {
                    //    window.location.href = "/UserOrder/UserOrderDetailAll";
                    //})
                });
            });
        });

        //呼叫運送方式的api
        document.addEventListener("DOMContentLoaded", async function () {
            const response = await fetch("/UserCart/getShippingMethodName");

            const data = await response.json();

            var shippingMethodSelect = document.getElementById("shippingMethod");

            data.forEach(function (value) {
                var option = document.createElement("option")
                option.value = value;
                option.text = value;
                shippingMethodSelect.appendChild(option);
            })
        })

        //呼叫顯示付款方式的api
        document.addEventListener("DOMContentLoaded", async function () {
            const response = await fetch("/UserCart/getPaymentMethodName");

            const data = await response.json();

            var paymentMethodSelect = document.getElementById("paymentMethod");

            data.forEach(function (value) {
                var option = document.createElement("option")
                option.value = value;
                option.text = value;
                paymentMethodSelect.appendChild(option);
            })

        })

        /*demo測試權限區*/
        const receiver = document.querySelector('#receiver')
        const receiverAddress = document.querySelector('#receiverAddress')

        const btnReceiver = document.querySelector('#btnReceiver')

        btnReceiver.addEventListener('click', () => {
            receiver.value = "黃先生"
            receiverAddress.value = "台北市永和區..."
        })

        //商品原價小計
        const totalItemcheckedPrice = document.querySelector('.totalItemcheckedPrice')

        async function getTotalcheckedPrice() {
            const response = await fetch('/UserCart/GetTotalcheckedPrice');
            const price = await response.json();

            const formattedPrice = price.toLocaleString();

            totalItemcheckedPrice.textContent = formattedPrice;
        }
        getTotalcheckedPrice()
    </script>

}