@model prjEShopping.Models.EFModels.Support

@{
    ViewBag.Title = "CSEmailDetails";
    Layout = "~/Views/Shared/_LayoutAdminlogin.cshtml";
}

<div class="col-6 bg-secondary overflow-auto">
    <h2>CSEmailDetails</h2>

    <div class="container">
        <div class="row">
            <div class="col-5">
                <label class="form-label">@Html.DisplayNameFor(model => model.UserId)</label>
                <input type="text" class="form-control" value=" @Model.UserId" readonly />
            </div>
            <div class="col-5">
                <label class="form-label"> @Html.DisplayNameFor(model => model.SupportType)</label>
                <input type="text" class="form-control" value="@Model.SupportType" readonly />
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <label class="form-label"> @Html.DisplayNameFor(model => model.ProductId)</label>
                <input type="text" class="form-control" value="@Model.ProductId" readonly />
            </div>
            <div class="col-3">
                <label class="form-label"> @Html.DisplayNameFor(model => model.SupportStatus)</label>
                <input type="text" class="form-control bg-primary text-white border border-1 border-dark" value=" @Model.SupportStatus" readonly />
            </div>
        </div>
        <label class="form-label">@Html.DisplayNameFor(model => model.SupportTitle)</label>
        <input type="text" class="form-control" value=" @Model.SupportTitle" readonly />
        <label class="form-label"> @Html.DisplayNameFor(model => model.SupportText)</label>
        <textarea class="form-control" readonly>@Model.SupportText</textarea>
        <div>寄信時間:@Model.ReceivedTime</div>
        </div>
        <p>
            @Html.ActionLink("取消", "Index", null, new { @class = "btn btn-primary" })
        </p>

    </div>
