@model IEnumerable<prjEShopping.Models.EFModels.Support>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminlogin.cshtml";
}

<div class="col-6 bg-secondary overflow-auto">
    <h2>客服信件</h2>
    <table class="table table-primary table-bordered " >
        <tr>
            <th>服務單號</th>
            <th>
                @Html.DisplayNameFor(model => model.SupportType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportStatus)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupportType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupportTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupportStatus)
                </td>
                <td>
                    @Html.ActionLink("詳情", "CSEmailDetails", new { id = item.SupportId }, new {@class="btn btn-primary"})
                    <button class="btn btn-danger my-2 deleteBtn" data-id="@item.SupportId">刪除</button>
                </td>
            </tr>
        }

    </table>
</div>

@section Scripts{
    <script>

$(document).on('click', '.deleteBtn', async function() {
    if (confirm('確定要刪除這項內容嗎？')) {
        var supportId = $(this).data('id');
        var url = '@Url.Action("Delete", "Support")';

        try {
            let response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ id: supportId })
            });

            if (!response.ok) {
                throw new Error('Network response was not ok');
            }

            let data = await response.json();
            if (data.success) {
                location.reload();  // 重新加载页面
            } else {
                alert('刪除失敗！');
            }
        } catch (error) {
            console.error('Error:', error);
            alert('發生錯誤，請稍後再試！');
        }
    }
});
    </script>
    }
