@model IEnumerable<prjEShopping.Models.EFModels.Support>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdminlogin.cshtml";
}

<div class="col-6 bg-secondary overflow-auto">
    <h2>客服信件</h2>
    <table class="table table-primary table-bordered " >
        <tr>
            <th>服務單號</th>
            <th>
                @Html.DisplayNameFor(model => model.SupportType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportStatus)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupportType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupportTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupportStatus)
                </td>
                <td>
                    @Html.ActionLink("詳情", "CSEmailDetails", new { id = item.SupportId }, new {@class="btn btn-primary"})
                    @Html.ActionLink("刪除", "Delete", new { id = item.SupportId },new { @class = "btn btn-danger my-2" })
                </td>
            </tr>
        }

    </table>
</div>
