@model IEnumerable<prjEShopping.Models.ViewModels.SellerProductListVM>
@{
    ViewBag.Title = "SellerProductList";
    Layout = "~/Views/Shared/_LayoutSellerMain.cshtml";
}

<div class="col-8 col-md-9 col-lg-9 col-xl-10 container bg-warning rounded-2 border border-info border-1 ">
    <p class="fs-4 mt-3 fw-bold text-center text-primary">商品一覽</p>
    <hr>

    @using (Html.BeginForm())
    {
        @:搜尋: <input type="text" name="SearchKeyword" class="mb-2 mx-2" /> <input type="submit" value="查詢" class="btn btn-secondary mb-2" />
    }

    <table class="table table-striped fw-bold" style=" text-align:center ; vertical-align:middle">
        <thead>
            <tr>
                <th scope="col">序號</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ProductImagePathOne)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ProductName)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.StockQuantity)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.CanBuyQuantity)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.Price)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.ProductStatusName)</th>
                <th scope="col">操作</th>
            </tr>
        </thead>
        <tbody >
            @{
                int count = 0;

                foreach (var item in Model)
                {
                    count++;
                        <tr>
                            <th scope="row">@count</th>
                            <td><img src="~/img/@item.ProductImagePathOne" width="80" /></td>
                            <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                            <td>@Html.DisplayFor(modelItem => item.StockQuantity)</td>
                            <td>@Html.DisplayFor(modelItem => item.CanBuyQuantity)</td>
                            <td>@Html.DisplayFor(modelItem => item.Price)</td>
                            <td>
                                
                                    @Html.DisplayFor(modelItem => item.ProductStatusName)
                                    @{
                                        if (item.Promote < 6)
                                        {
                                            <label class="text-secondary fw-bold mx-2 ">推薦中</label>
                                        }
                                    }
                                
                            </td>
                            <td>
                                @{
                                    if (item.ProductStatusName != "審核中")
                                    {
                                        @Html.ActionLink("修改", "ProductEdit", "SellerProduct", new { id = item.ProductID }, new { Class = "btn btn-secondary " })@:|
                                    }
                                }
                                @{
                                    if (item.ProductStatusName == "販售中")
                                    {
                                        if (item.Promote < 6)
                                        {
                                            @Html.ActionLink("取消推薦", "clearPromote", "SellerProduct", new { id = item.ProductID },
                                            new { onclick = "return confirm('確定要取消推薦?')", Class = "btn btn-secondary " })@:|
                                            @Html.ActionLink("下架", "ChangeStatus", "SellerProduct", new { id = item.ProductID },
                                            new { onclick = "return confirm('確定要下架嗎?')", Class = "btn btn-secondary " })
                                        }
                                        else
                                        {
                                            @Html.ActionLink("推薦", "setPromote", "SellerProduct", new { id = item.ProductID },
                                            new { onclick = "return confirm('確定要加入推薦嗎?')", Class = "btn btn-secondary " })@:|
                                            @Html.ActionLink("下架", "ChangeStatus", "SellerProduct", new { id = item.ProductID },
                                            new { onclick = "return confirm('確定要下架嗎?')", Class = "btn btn-secondary " })
                                        }
                                    }
                                    else if (item.ProductStatusName == "下架中")
                                    {
                                        @Html.ActionLink("上架", "ChangeStatus", "SellerProduct", new { id = item.ProductID },
                                        new { onclick = "return confirm('確定要上架嗎?')", Class = "btn btn-secondary " })
                                    }
                                    else
                                    {
                                        @:<label class="text-danger fw-bold mx-2">審核中</label>
                                    }
                                }
                            </td>
                        </tr>
                 }
               }

        </tbody>
    </table>
</div>


