@model IEnumerable<prjEShopping.Models.EFModels.Coupon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-9 bg-secondary ">
    <h2>優惠券列表</h2>
    <div class="container overflow-auto">
    <p>
        @Html.ActionLink("新增優惠券", "Create",null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-primary table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CouponNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouponName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouponDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouponTerms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CouponType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Storewide)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClaimDeadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventStatus)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CouponNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CouponName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CouponDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CouponTerms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CouponType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Storewide)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClaimDeadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EventStatus)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CouponId }, new { @class = "btn btn-secondary my-1"})
                    @Html.ActionLink("Delete", "Delete", new { id = item.CouponId }, new { @class = "btn btn-danger my-1"})
                </td>
            </tr>
        }

    </table>
    </div>
</div>
