@model prjEShopping.Models.ViewModels.UserLoginVM

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutUserLogin.cshtml";
    //買家登入頁
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()@*以防護CSRF攻擊*@


<div class="bg-light py-5">
    <div class="container pt-2">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 bg-success rounded " style="height:500px">
                <p class="mt-5 fs-3 fw-bold text-center">買家登入</p>
                @*<input class="form-control mt-3" type="text" placeholder="請輸入Email" id="UserAccount">
                    <input class="form-control mt-3" type="password" placeholder="請輸入密碼" id="UserPassword">*@
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.UserAccount, new { htmlAttributes = new { @class = "form-control mt-5", placeholder = "請輸入Email", id = "UserAccount" } })
                @Html.ValidationMessageFor(model => model.UserAccount, "", new { @class = "text-danger" })
                @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control mt-3", placeholder = "請輸入密碼", id = "UserPassword" } })
                @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "text-danger" })

                <div class="d-grid gap-2 mt-5">
                    <input type="submit" value="登入" class="btn btn-secondary mt-3" />
                </div>



            </div>
            <div class="col-3"></div>
        </div>
    </div>
    @*<a href="#" class="link-blue text-decoration-none fw-bold">忘記密碼</a>*@
    @*<div class="d-flex justify-content-end gap-2 mb-2">
        <div class="btn btn-light border border-3" id="btncorrect">demo正確帳密</div>
        <div class="btn btn-light border border-3" id="btnerror">demo錯誤帳密</div>
        <div class="btn btn-light border border-3" id="btnerrorright">demo權限問題</div>

    </div>*@
    <div class="d-flex justify-content-end gap-2 mb-2">
        <div class="btn btn-light border border-3" id="btnUser1">User1</div>
        @*<div class="btn btn-light border border-3" id="btnUser1new">User1新密碼</div>*@
    </div>
    @*<div class="d-flex justify-content-end gap-2">
        <div class="btn btn-light border border-3" id="btnregisterUser">新註冊</div>
        <div class="btn btn-light border border-3" id="btnUser2">User2</div>
        <div class="btn btn-light border border-3" id="btnUser3">User3</div>
    </div>*@
   
    @*<div class="d-flex justify-content-end gap-2 mt-3">
            <div class="btn btn-light border border-3" id="btnSeller">Seller</div>
            <div class="btn btn-light border border-3" id="btnAdmin">Admin</div>

        </div>*@
    @*<hr>*@
    @*<div class="row g-2 mb-3">
            <div class="col-5 btn btn-info mt-3" type="submit">GOOGLE</div>
            <div class="col-2"></div>
            <div class="col-5 btn btn-info mt-3" type="submit">LINE</div>
        </div>*@
    @*<div class="mb-3">
            <span>還沒註冊嗎？</span>
            <a href="#" class="link-blue text-decoration-none fw-bold">註冊</a>
        </div>*@
</div>
}





@section Styles{
    <style>
    </style>
}
@section Scripts{
    <script>
        const UserAccount = document.querySelector('#UserAccount')
        const UserPassword = document.querySelector('#UserPassword')

        /*demo測試權限區*/
        /*const btncorrect = document.querySelector('#btncorrect')*/
        const btnerror = document.querySelector('#btnerror')
        const btnerrorright = document.querySelector('#btnerrorright')

        //btncorrect.addEventListener('click', () => {
        //    UserAccount.value = "Amy@gmail.com"
        //    UserPassword.value = "1234"
        //})

        //btnerror.addEventListener('click', () => {
        //    UserAccount.value = "Amyerror@gmail.com"
        //    UserPassword.value = "1234error"
        //})

        //btnerrorright.addEventListener('click', () => {
        //    UserAccount.value = "Tom@hotmail.com"
        //    UserPassword.value = "Aa12345$"
        //})

        /*demo測試腳色區*/
        const btnUser1 = document.querySelector('#btnUser1')
        const btnUser1new = document.querySelector('#btnUser1new')
        const btnregisterUser = document.querySelector('#btnregisterUser')
        const btnUser2 = document.querySelector('#btnUser2')
        const btnUser3 = document.querySelector('#btnUser3')
        //const btnSeller = document.querySelector('#btnSeller')
        //const btnAdmin = document.querySelector('#btnAdmin')

        btnUser1.addEventListener('click', () => {
            UserAccount.value = "amy@gmail.com"
            UserPassword.value = "Aa12345$"
        })

        //btnUser1new.addEventListener('click', () => {
        //    UserAccount.value = "amy@gmail.com"
        //    UserPassword.value = "Aa12346$"
        //})

        //btnregisterUser.addEventListener('click', () => {
        //    UserAccount.value = "aasharon1014@gmail.com"
        //    UserPassword.value = "Aa12345$tom"
        //})

        //btnUser2.addEventListener('click', () => {
        //    UserAccount.value = "Mary@yahoo.com"
        //    UserPassword.value = "Aa12345$"
        //})
        //btnUser3.addEventListener('click', () => {
        //    UserAccount.value = "Bruce@gmail.com"
        //    UserPassword.value = "Aa12345$"
        //})
        //btnSeller.addEventListener('click', () => {
        //    UserAccount.value = "Alex@gmail.com"
        //    UserPassword.value = "1234"
        //})
        //btnAdmin.addEventListener('click', () => {
        //    UserAccount.value = "James@gmail.com"
        //    UserPassword.value = "1234"
        //})



    </script>
}
