@model prjEShopping.Models.ViewModels.UserChangePasswordVM
@{
    ViewBag.Title = "UserEditPassword";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="bg-light">
    <div class="container py-3">
        <div class="row py-2 gx-5">
            <div class="col-sm-auto col-md-3 bg-light">
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center">
                        <img src="" class="img-fluid" id="userImagePath" style="width:130px">
                        <span class="fw-bold ms-3" id="username"></span>
                    </div>
                    <!-- 手風琴左邊選項區 -->
                    <div class="accordion mt-3" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                    我的帳戶
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserMembers/UserEditProfile")" class="link-blue text-decoration-none fw-bold">個人檔案</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserMembers/UserEditPassword")" class="link-blue text-decoration-none fw-bold">修改密碼</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                    我的焦點
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserOrder/UserOrderDetailAll")" class="link-blue text-decoration-none fw-bold">購買清單</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserCoupon/UserCouponList")" class="link-blue text-decoration-none fw-bold">優惠券</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserFollow/UserFollowProduct")" class="link-blue text-decoration-none fw-bold">追蹤商品</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserFollow/UserFollowSeller")" class="link-blue text-decoration-none fw-bold">追蹤店家</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserSupport/UserCSList")" class="link-blue text-decoration-none fw-bold">聯絡客服</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 手風琴左邊選項區 -->
                </div>
            </div>

            <!-- 右邊分頁區 -->
            <div class="col-sm-auto mt-sm-3 col-md-9 bg-warning mt-lg-0 rounded" style="height:500px">

                <form method="post" enctype="multipart/form-data" action="UserEditPassword" id="userEditpwForm">
                    <p class="fs-4 mt-3 fw-bold">修改密碼</p>
                    <hr>


                    <div class="row mb-2">
                        <div class="col-sm-5 col-md-3 d-flex align-items-center">
                            <span>舊密碼：</span>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <input type="password" class="form-control" name="OldPassword" id="OldPassword">
                            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="row mb-2">
                        <div class="col-sm-5 col-md-3 d-flex align-items-center">
                            <span>新密碼：</span>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <input type="password" class="form-control" name="NewPassword" id="NewPassword">
                            @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="row mb-2">
                        <div class="col-sm-5 col-md-3 d-flex align-items-center">
                            <span>確認密碼：</span>
                        </div>
                        <div class="col-sm-4 col-md-3">
                            <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword">
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <button class="btn btn-secondary mb-3" type="submit" id="saveuserpw">確定</button>

                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                    }
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="alert alert-danger">@TempData["SuccessMessage"]</div>
                        <script>
                            setTimeout(function () {
                                window.location.href = '@Url.Action("UserLogin", "UserMembers")';
                            }, 5000);
                        </script>
                    }

                </form>
                <button class="btn btn-light border border-3 mb-3" id="DemonewPW">DemonewPW</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(async function () {

            //DEMO
            $("#DemonewPW").on('click', function () {
                const OldPassword = document.querySelector('#OldPassword')
                const NewPassword = document.querySelector('#NewPassword')
                const ConfirmPassword = document.querySelector('#ConfirmPassword')
                OldPassword.value = "Aa12345$"
                NewPassword.value = "Aa12346$"
                ConfirmPassword.value = "Aa12346$"
            })

        })
    </script>

}
