
@{
    ViewBag.Title = "UserEditPassword";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="bg-light">
    <div class="container py-3">
        <div class="row py-2 gx-5">
            <div class="col-sm-auto col-md-3 bg-light">
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center">
                        <img src="~/img/comment.jpeg" alt="" class="img-fluid">
                        <span class="fw-bold ms-3">John Doe</span>
                    </div>
                    <!-- 手風琴左邊選項區 -->
                    <div class="accordion mt-3" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                    我的帳戶
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserMembers/UserEditProfile")" class="link-blue text-decoration-none fw-bold">個人檔案</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserMembers/UserEditPassword")" class="link-blue text-decoration-none fw-bold">修改密碼</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                    我的焦點
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserOrder/UserOrderDetailAll")" class="link-blue text-decoration-none fw-bold">購買清單</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserCoupon/UserCouponList")" class="link-blue text-decoration-none fw-bold">優惠券</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserFollow/UserFollowProduct")" class="link-blue text-decoration-none fw-bold">追蹤商品</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserFollow/UserFollowSeller")" class="link-blue text-decoration-none fw-bold">追蹤店家</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 手風琴左邊選項區 -->
                </div>
            </div>

            <!-- 右邊分頁區 -->
            <div class="col-sm-auto mt-sm-3 col-md-9 bg-warning mt-lg-0 rounded">
                <p class="fs-4 mt-3 fw-bold">修改密碼</p>
                <hr>

                <div class="row mb-2">
                    <div class="col-sm-5 col-md-3 d-flex align-items-center">
                        <span>原始密碼：</span>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <input type="text">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-5 col-md-3 d-flex align-items-center">
                        <span>新密碼：</span>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <input type="text">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-5 col-md-3 d-flex align-items-center">
                        <span>密碼再確認：</span>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <input type="text">
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-sm-5 col-md-3 d-flex align-items-center">
                        <span>驗證碼：</span>
                    </div>
                    <div class="col-sm-4 col-md-3">
                        <input type="text">
                    </div>
                </div>
                <div class="btn btn-secondary">確定</div>
            </div>
        </div>
    </div>
</div>

