@model prjEShopping.Models.ViewModels.UserProfileVM
@{
    ViewBag.Title = "UserEditProfile";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="bg-light">
    <div class="container py-3">
        <div class="row py-2 gx-5">
            <div class="col-sm-auto col-md-3 bg-light">
                <div class="d-flex flex-column">
                    <div class="d-flex align-items-center">
                        <img src="" class="img-fluid" id="userImagePath" style="width:130px">
                        <span class="fw-bold ms-3" id="username"></span>
                    </div>
                    <!-- 手風琴左邊選項區 -->
                    <div class="accordion mt-3" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                                    我的帳戶
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserMembers/UserEditProfile")" class="link-blue text-decoration-none fw-bold">個人檔案</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserMembers/UserEditPassword")" class="link-blue text-decoration-none fw-bold">修改密碼</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                    我的焦點
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserOrder/UserOrderDetailAll")" class="link-blue text-decoration-none fw-bold">購買清單</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserCoupon/UserCouponList")" class="link-blue text-decoration-none fw-bold">優惠券</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserFollow/UserFollowProduct")" class="link-blue text-decoration-none fw-bold">追蹤商品</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="@Url.Content("~/UserFollow/UserFollowSeller")" class="link-blue text-decoration-none fw-bold">追蹤店家</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 手風琴左邊選項區 -->
                </div>
            </div>

            <!-- 右邊分頁區 -->
            <div class="col-sm-auto mt-sm-3 col-md-9 bg-warning mt-lg-0 rounded" style="height:500px">
                <p class="fs-4 mt-3 fw-bold">個人檔案</p>
                <hr>

                <form method="post" enctype="multipart/form-data" action="UserEditProfile" id="userEditForm">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row mb-2">
                                <div class="col-4 d-flex align-items-center">
                                    <span>使用者帳號：</span>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" value="@Model.UserAccount" name="UserAccount" readonly>
                                </div>
                                <div class="col-4">
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4 d-flex align-items-center">
                                    <span>姓名：</span>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" value="@Model.UserName" name="UserName">
                                </div>
                                <div class="col-4">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-4 d-flex align-items-center">
                                    <span>手機號碼：</span>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" value="@Model.CellPhone" name="CellPhone">
                                </div>

                            </div>
                            <div class="row mb-2">
                                <div class="col-4 d-flex align-items-center">
                                    <span>電話號碼：</span>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" value="@Model.Phone" name="Phone">
                                </div>

                            </div>
                            <div class="row mb-2">
                                <div class="col-4 d-flex align-items-center">
                                    <span>姓別：</span>
                                </div>
                                <div class="col-4">
                                    <select class="form-select" name="Gender">
                                        <option value="男生" @(Model.Gender == "男生" ? "selected" : "")>男生</option>
                                        <option value="女生" @(Model.Gender == "女生" ? "selected" : "")>女生</option>
                                        <option value="其他/保密" @(Model.Gender != "男生" && Model.Gender != "女生" ? "selected" : "")>其他/保密</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4 d-flex align-items-center">
                                    <span>生日：</span>
                                </div>
                                <div class="col-4 d-flex align-items-center">
                                    <input type="text" class="form-control" value="@Model.Birthday.ToString("yyyy-MM-dd")" name="Birthday" readonly>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-4 d-flex align-items-center">
                                    <span>地址：</span>
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" value="@Model.City" name="City">
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" value="@Model.Address" name="Address">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-secondary mb-sm-3 mb-md-0" id="saveuserprofile">儲存</button>

                        </div>
                        <div class="col-sm-3 d-flex flex-column align-items-center">
                            <img src="" class="img-fluid" id="userImagePaths" style="width:130px">
                            <label for="formFile" class="form-label"></label>
                            <input class="form-control" type="file" name="UserImageFile" id="formFile">
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


@*修改資料完成。*@
<div class="modal" id="saveuserprofilemodal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                修改個人檔案完成。
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="confirmButton">確定</button>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script>
        $(document).ready(async function () {

            //先顯示圖片
            const result = await $.get("/UserMembers/UserPhotoName")

            const userImagePath = result.UserImagePath;           
            const img = document.querySelector("#userImagePaths");    
            const baseUrl = window.location.origin;
            img.src = `${baseUrl}/img/${userImagePath}`;    

            //預覽圖片
            $("#formFile").change(function () {
                readURL(this);
            })

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $("#userImagePaths").attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0])
                }
            }

            //等按下確認後再submit
            $("#saveuserprofile").on('click', function (event) {
                event.preventDefault();
                $("#saveuserprofilemodal").modal("show")
            })

            $("#confirmButton").on("click", function () {
                $("#saveuserprofilemodal").modal("hide")
                $("#userEditForm").submit();
            })
        })

    </script>

}

