<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> -->
    <link href="~/Content/Sall.css" rel="stylesheet" type="text/css" />
    <title>賣家主頁</title>
</head>

<body>
    <header class="bg-primary ">
        <div class="container">
            <nav class="navbar navbar-expand py-0">
                <div class="container">
                    <div class="collapse navbar-collapse">
                        <div class="navbar-nav me-auto col-5 col-md-4 col-lg-3 col-xl-2">
                            <a class="nav-link" href="~/SellerMain/Index">
                                <img src="~/img/logonew.png" alt="E起購 LOGO" class="d-inline-block" />
                            </a>
                        </div>
                        <div class="navbar-nav me-auto col-3 col-md-4 col-lg-6 col-xl-8">
                            <span class="d-inline-block text-secondary fw-bold h5 text-center">賣家中心</span>
                        </div>
                        <div class="justify-content-end d-flex col-4 col-md-4 col-lg-3 col-xl-2">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">商家，XXX您好</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">登出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container my-2">
        <div class="row">
            <div class="col-4 col-md-3 col-lg-3 col-xl-2 ">
                <div class="pre">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseOne">
                                    商家帳戶
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body bg-primary">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            <a href="#" class="text-decoration-none">基本資料修改</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseTwo">
                                    賣場管理
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body bg-primary">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            <a href="#" class="text-decoration-none">賣場布置</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="text-decoration-none">評價回覆</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseThree">
                                    商品管理
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingThree">
                                <div class="accordion-body bg-primary">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            <a href="#" class="text-decoration-none">上架紀錄</a>
                                        </li>
                                        <li class="nav-item">
                                        <li class="nav-item">
                                            @Html.ActionLink("新增商品(上架)", "ProductList", "SellerProduct", new { area = "" }, new { @class = "text-decoration-none" })
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="text-decoration-none">查詢商品(修改/刪除/再上架)</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseFour">
                                    訂單管理
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingFour">
                                <div class="accordion-body bg-primary">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            @Html.ActionLink("訂單查詢(出貨)", "ShipmentList", "SellerShipment", new { area = "" }, new { @class = "text-decoration-none" })
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="text-decoration-none">訂單修改(刪除)</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="text-decoration-none">退貨</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseFive">
                                    行銷活動
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingFive">
                                <div class="accordion-body bg-primary">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            <a href="#" class="text-decoration-none">平台廣告方案</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="text-decoration-none">我的活動</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="text-decoration-none">優惠券</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseSix">
                                    數據中心
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingSix">
                                <div class="accordion-body bg-primary">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            <a href="#" class="text-decoration-none">營運表現</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="text-decoration-none">賣家數據</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pre my-2 bg-secondary rounded fw-bold ">
                    <h4 class="text-center pre ">即將進行的活動</h4>
                    <div class="pre">
                        <P class="text-center">
                            7/5一日特賣
                        </P>
                        <img src="~/img/APPLE輪播圖.jpg" class="d-block w-100 container" alt="...">
                        <P class="text-center">
                            <span>
                                開始於:
                            </span>
                            <span>
                                12小時17分03秒
                            </span>
                        </P>
                    </div>
                    <div class="pre bg-warning">
                        <P class="text-center">
                            7/9-7/21夏季特賣
                        </P>
                        <img src="~/img/dyson輪播圖.jpg" class="d-block w-100 container" alt="...">
                        <P class="text-center">
                            <span>
                                開始於:
                            </span>
                            <span>
                                55小時17分03秒
                            </span>
                        </P>
                    </div>
                    <div class="pre">
                        <P class="text-center">
                            8/5-8/12父親節活動
                        </P>
                        <img src="~/img/LG輪播圖.jpg" class="d-block w-100 container" alt="...">
                        <P class="text-center">
                            <span>
                                開始於:
                            </span>
                            <span>
                                256小時17分03秒
                            </span>
                        </P>
                    </div>
                </div>
            </div>

            @RenderBody()

        </div>
    </div>
    <div class="bg-primary" style="height: 20px;"></div>
    <div class="bg-warning">
        <div class="container py-5">
            <div class="row row-cols-auto row-cols-md-auto row-cols-lg-auto">
                <div class="col d-flex flex-column">
                    <span>E起購有限公司台灣分公司</span>
                    <span>統一編號：12345678</span>
                    <span>&copy 2023 EEE 版權所有。</span>
                </div>
                <div class="col d-flex flex-column mb-2">
                    <span>付款</span>
                    <div class="col d-flex">
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center " style="height: 50px;">
                            <img src="~/img/bottompay1.png" alt="">
                        </div>
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center " style="height: 50px;">
                            <img src="~/img/bottompay2.png" alt="">
                        </div>
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center " style="height: 50px;">
                            <img src="~/img/bottompay3.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col d-flex flex-column mb-2">
                    <span>物流合作</span>
                    <div class="col d-flex">
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center " style="height: 50px;">
                            <img src="~/img/bottomship1.png" alt="">
                        </div>
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center " style="height: 50px;">
                            <img src="~/img/bottomship2.png" alt="">
                        </div>
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center" style="height: 50px;">
                            <img src="~/img/bottomship3.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col d-flex flex-column mb-2">
                    <span>關注我們</span>
                    <div class="col d-flex">
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center px-3" style="height: 50px;">
                            <img src="~/img/line32px.png" alt="">
                        </div>
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center px-3" style="height: 50px;">
                            <img src="~/img/facebook32px.png" alt="">
                        </div>
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center px-3 " style="height: 50px;">
                            <img src="~/img/instagram32px.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col mb-2">
                    <span>找到我們</span>
                    <div class="bg-success me-2 d-flex justify-content-center align-items-center">
                        <img src="~/img/QRCode.png" alt="" />
                    </div>
                </div>

                <div class="col mb-2">
                    <a class="navbar-brand py-0 mb-4 mx-0" href="#">
                        <img src="~/img/logonew.png" alt="E起購 LOGO" class="d-inline-block" />
                    </a>
                </div>

            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/df26c5ac19.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)
</body>

</html>