<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> -->
    <link href="~/Content/Sall.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTu9iRABdNHHPp9S9hjHXWib4bpv60vQV5CqosCJnM6AN1KnZfcLk0fMlT8pT" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-D0mMQgeQmhoVOTL5vRssVv61K4WgYGz7ALaRUn5ILbcbdjfVqcb/kcPhepblGwVX" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-tmP1WXB9s2msLSe3Z5tA8cwNJVdC4b4+Xu0wrOgqLPzZS7DI2Y3J3aXXCe4jtODQ" crossorigin="anonymous"></script>
    <title>賣家主頁</title>
</head>

<body>
    <header class="bg-primary ">
        <div class="container">
            <nav class="navbar navbar-expand py-0">
                <div class="container">
                    <div class="collapse navbar-collapse">
                        <div class="navbar-nav me-auto col-5 col-md-4 col-lg-3 col-xl-2">
                            <a class="nav-link" href="~/SellerMain/Index">
                                <img src="~/img/logonew.png" alt="E起購 LOGO" class="d-inline-block" />
                            </a>
                        </div>
                        <div class="navbar-nav me-auto col-3 col-md-4 col-lg-6 col-xl-8">
                            <span class="d-inline-block text-secondary fw-bold h5 text-center">賣家中心</span>
                        </div>
                        <div class="justify-content-end d-flex col-4 col-md-4 col-lg-3 col-xl-2">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item">
                                    @*<img src="@Session["SellerImagePath"]" class="img-fluid" id="SellerImagePath" style="width:130px">*@
                                    <a class="nav-link" href="#">@Session["StoreName"] 您好</a>
                                    <input type="hidden" value="@Session["SellerId"]">
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="@Url.Action("Logout","SellerLogin")">登出</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container my-2">
        <div class="row">
            <div class="col-4 col-md-3 col-lg-3 col-xl-2 ">
                <div class="pre">
                    <div class="accordion" id="accordionPanelsStayOpenExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseOne">
                                    商家帳戶
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingOne">
                                <div class="accordion-body bg-primary">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            @Html.ActionLink("基本資料修改", "Edit", "SellerUpdate", new { area = "" }, new { @class = "text-decoration-none" })
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseTwo">
                                    賣場管理
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingTwo">
                                <div class="accordion-body bg-primary">
                                    <ul class="navbar-nav me-auto">
                                        @*<li class="nav-item">
                                            <a href="#" class="text-decoration-none">賣場布置</a>
                                        </li>*@
                                        <li class="nav-item">
                                            @Html.ActionLink("評價回覆", "SellerReply", "SellerReply", new { area = "" }, new { @class = "text-decoration-none" })
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseThree">
                                    商品管理
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingThree">
                                <div class="accordion-body bg-primary">
                                    <ul class="navbar-nav me-auto">
                                        @*<li class="nav-item">
                                            <a href="#" class="text-decoration-none">上架紀錄</a>
                                        </li>*@
                                        <li class="nav-item">
                                        <li class="nav-item">
                                            @Html.ActionLink("新增商品(上架)", "ProductCreate", "SellerProductCreate", new { area = "" }, new { @class = "text-decoration-none" })
                                        </li>
                                        <li class="nav-item">                            
                                            @Html.ActionLink("查詢商品(再上架)", "SellerProductList", "SellerProduct", new { area = "" }, new { @class = "text-decoration-none" })
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseFour">
                                    訂單管理
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingFour">
                                <div class="accordion-body bg-primary">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            @Html.ActionLink("訂單查詢(出貨)", "ShipmentList", "SellerShipment", new { area = "" }, new { @class = "text-decoration-none" })
                                        </li>
                                        @*<li class="nav-item">
                                            <a href="#" class="text-decoration-none">訂單修改(刪除)</a>
                                        </li>*@
                                        <li class="nav-item">
                                            <a href="#" class="text-decoration-none">退貨</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseFive">
                                    行銷活動
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingFive">
                                <div class="accordion-body bg-primary">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            @Html.ActionLink("平台廣告方案", "ADOwner", "SellerActivities", new { area = "" }, new { @class = "text-decoration-none" })
                                        </li>
                                        <li class="nav-item">
                                            @Html.ActionLink("我的點數", "MyPointList", "SellerActivities", new { area = "" }, new { @class = "text-decoration-none" })
                                        </li>
                                        <li class="nav-item">
                                            @Html.ActionLink("優惠券", "CouponList", "SellerActivities", new { area = "" }, new { @class = "text-decoration-none" })
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="panelsStayOpen-headingSix">
                                <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseSix">
                                    數據中心
                                </button>
                            </h2>
                            <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse"
                                 aria-labelledby="panelsStayOpen-headingSix">
                                <div class="accordion-body bg-primary">
                                    <ul class="navbar-nav me-auto">
                                        <li class="nav-item">
                                            <a href="#" class="text-decoration-none">營運表現</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="text-decoration-none">賣家數據</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pre my-2 rounded fw-bold ">
                    <h4 class="text-center pre bg-secondary rounded-2 p-1 ">即將到期折價卷</h4>
                    <div id="coupon">

                    </div>
                </div>
            </div>

            @RenderBody()

        </div>
    </div>
    <div class="bg-primary" style="height: 20px;"></div>
    <div class="bg-warning">
        <div class="container py-5">
            <div class="row row-cols-auto row-cols-md-auto row-cols-lg-auto">
                <div class="col d-flex flex-column">
                    <span>E起購有限公司台灣分公司</span>
                    <span>統一編號：12345678</span>
                    <span>&copy 2023 EEE 版權所有。</span>
                </div>
                <div class="col d-flex flex-column mb-2">
                    <span>付款</span>
                    <div class="col d-flex">
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center " style="height: 50px;">
                            <img src="~/img/bottompay1.png" alt="">
                        </div>
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center " style="height: 50px;">
                            <img src="~/img/bottompay2.png" alt="">
                        </div>
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center " style="height: 50px;">
                            <img src="~/img/bottompay3.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col d-flex flex-column mb-2">
                    <span>物流合作</span>
                    <div class="col d-flex">
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center " style="height: 50px;">
                            <img src="~/img/bottomship1.png" alt="">
                        </div>
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center " style="height: 50px;">
                            <img src="~/img/bottomship2.png" alt="">
                        </div>
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center" style="height: 50px;">
                            <img src="~/img/bottomship3.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col d-flex flex-column mb-2">
                    <span>關注我們</span>
                    <div class="col d-flex">
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center px-3" style="height: 50px;">
                            <img src="~/img/line32px.png" alt="">
                        </div>
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center px-3" style="height: 50px;">
                            <img src="~/img/facebook32px.png" alt="">
                        </div>
                        <div class="bg-success me-2 d-flex justify-content-center align-items-center px-3 " style="height: 50px;">
                            <img src="~/img/instagram32px.png" alt="">
                        </div>
                    </div>
                </div>

                <div class="col mb-2">
                    <span>找到我們</span>
                    <div class="bg-success me-2 d-flex justify-content-center align-items-center">
                        <img src="~/img/QRCode.png" alt="" />
                    </div>
                </div>

                <div class="col mb-2">
                    <a class="navbar-brand py-0 mb-4 mx-0" href="#">
                        <img src="~/img/logonew.png" alt="E起購 LOGO" class="d-inline-block" />
                    </a>
                </div>

            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/df26c5ac19.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const selcoupon = document.querySelector('#coupon');

        function LoadCoupns()
        {
            const xhr = new XMLHttpRequest();
            xhr.open('GET', '@Url.Content("~/SellerMain/LoadCoupons")');
            xhr.send();
            xhr.addEventListener('load', () => {
                const datas = JSON.parse(xhr.responseText);
                let coupons = datas.map(coupon => {
                    const formattedEndTime = new Date(parseInt(coupon.EndTime.substr(6))).toLocaleString();
                    return (`<div class="pre bg-warning rounded-2">
                        <P class="text-center">${coupon.CouponName}</P>
                        <P class="text-center">${coupon.CouponTerms+coupon.CouponType+coupon.Discount}</P>
                        <img src=@Url.Content("~/img/coupon.png") class="d -block w-100 container" alt="..." height="120">
                        <P class="text-center"><span>總數量:</span><span class="text-danger">${coupon.Quantity}</span>
                        <span>已領取:</span><span class="text-danger">${coupon.ReceivedQuantity}</span></P>
                        <P class="container text-center"><span>結束日:</span><span class="row">${formattedEndTime}</span></P>
                    </div>`)
                })
                selcoupon.innerHTML = coupons.join("");
            })
        }

        $(document).ready(function () {
            LoadCoupns();
        })
    </script>
    @RenderSection("Scripts", required: false)
    @RenderSection("Styles", required: false)
</body>

</html>