@model IEnumerable<prjEShopping.Models.ViewModels.SellerShipmentDetailsVM>
@{
    ViewBag.Title = "ShipmentDetail";
    Layout = "~/Views/Shared/_LayoutSellerMain.cshtml";
}

<div class="col-8 col-md-9 col-lg-9 col-xl-10 container bg-warning rounded-2 border border-info border-1 ">
    <p class="fs-4 mt-3 fw-bold text-center text-primary">貨單明細</p>
    <p class="fs-4 mt-3 fw-bold text-center text-primary">
        <span>出貨單號 : </span>
        <span class="text-danger fw-bold mx-2">@ViewBag.ShipmentNumber</span>
        <span class="text-danger fw-bold fs-4">@ViewBag.ShipmentStatus</span>
    </p>
    <hr>
    @using (Html.BeginForm())
    {<table class="table table-striped fw-bold">
        <thead>
            <tr>
                <th scope="col">序號</th>
                <th scope="col">商品名稱</th>
                <th scope="col">商品圖片</th>
                <th scope="col">單價</th>
                <th scope="col">數量</th>
                <th scope="col">金額</th>
                <th scope="col">操作</th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 0;
            int pay = 0;
            foreach (var item in Model)
            {
                count++;
                pay += (int)item.ItemPrice;
                @*<input type="hidden" value="@item.ProductId" name="ProductId" />
                <input type="hidden" value="@item.Quantity" name="ChangedQty" />*@
                <tr>
                    <th scope="row">@count</th>
                    <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                    <td><img src="~/img/@item.ProductImagePathOne" width="80" /></td>
                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                    <td><input type="text" class="input-group-text" size="4" value="@item.Quantity" name="Quantity" /></td>
                    <td>@Html.DisplayFor(modelItem => item.ItemPrice)</td>
                    <td><input type="checkbox" class="form-check-input" /></td>
                </tr>
            }
            int total = pay + @ViewBag.Fright;
            }
        </tbody>
        
        @*@Html.ActionLink("刪除", "Delete", "Product", new { ShipNum = item.ShipmentNumber },
            new { onclick = "return confirm('確定要刪除嗎?')" }) |
            @Html.ActionLink("出貨", "Edit", new { ShipNum = item.ShipmentNumber })*@
        @Html.ActionLink("取消訂單", "Cancle", "SellerShipment", new { ShipNum = @ViewBag.ShipmentNumber }, new { onclick = "return confirm('確定要取消嗎?')", Class = "text-decoration-none btn btn-secondary mb-2" }) |
        @*<input type="submit" value="修改" class="btn btn-secondary mb-2" /> |*@
        @Html.ActionLink("出貨", "ToShip", "SellerShipment", new { ShipNum = @ViewBag.ShipmentNumber }, new { onclick = "return confirm('確定出貨嗎?')", Class = "text-decoration-none btn btn-secondary mb-2" })
    </table>
    <hr>
    <div>
        <span class="text-primary fw-bold">購買人: </span>
        <span class="text-danger fw-bold mx-2">@ViewBag.username</span>
        <span class="text-primary fw-bold">付款方式: </span>
        <span class="text-danger fw-bold mx-2">@ViewBag.Pmethod</span>
        <span class="text-primary fw-bold">物流方式: </span>
        <span class="text-danger fw-bold mx-2">@ViewBag.Smethod</span>
        <span class="text-primary fw-bold">收件人: </span>
        <span class="text-danger fw-bold mx-2">@ViewBag.Recriver</span>
        <span class="text-primary fw-bold">寄送地址: </span>
        <span class="text-danger fw-bold mx-2">@ViewBag.RAddress</span>
    </div>
    <div class="mt-2 text-primary fw-bold">
        <span>商品金額:</span>
        <span class="text-danger fw-bold mx-2">@pay.ToString("###,###,##0")  元</span>
        <span>運費:</span>
        <span class="text-danger fw-bold mx-2">@ViewBag.Fright   元</span>
        <span>總金額:</span>
        <span class="text-danger fw-bold mx-2">@total.ToString("###,###,##0")   元</span>
    </div>}
</div>

