@model IEnumerable<prjEShopping.Models.ViewModels.SellerShipmentDetailsVM>
@{
    ViewBag.Title = "ShipmentDetail";
    Layout = "~/Views/Shared/_LayoutSellerMain.cshtml";
}

<div class="col-8 col-md-9 col-lg-9 col-xl-10 container bg-warning rounded-2 border border-info border-1 ">
    <p class="fs-4 mt-3 fw-bold text-center text-primary">貨單明細</p>
    <p class="fs-4 mt-3 fw-bold text-center text-primary">
        <span>出貨單號 : </span>
        <span class="text-danger fw-bold mx-2">@ViewBag.ShipmentNumber</span>
        <span class="text-danger fw-bold fs-4">@ViewBag.ShipmentStatus</span>
    </p>
    <hr>
    @{
        if (@ViewBag.ShipmentStatus == "準備中")
        {
            @Html.ActionLink("取消訂單", "Cancle", "SellerShipment", new { ShipNum = @ViewBag.ShipmentNumber }, new { onclick = "return confirm('確定要取消嗎?')", Class = "text-decoration-none btn btn-secondary mb-2" }) @:|
            @Html.ActionLink("出貨", "ToShip", "SellerShipment", new { ShipNum = @ViewBag.ShipmentNumber }, new { onclick = "return confirm('確定出貨嗎?')", Class = "text-decoration-none btn btn-secondary mb-2" });
        }
        if (@ViewBag.ShipmentStatus == "已出貨")
        {
            @Html.ActionLink("送貨", "setToRecieve", "SellerShipment", new { ShipNum = @ViewBag.ShipmentNumber }, new { onclick = "return confirm('確定送貨嗎?')", Class = "text-decoration-none btn btn-secondary mb-2" });
        }
        if (@ViewBag.ShipmentStatus == "已領取")
        {
            @Html.ActionLink("結單", "setToComplete", "SellerShipment", new { ShipNum = @ViewBag.ShipmentNumber }, new { onclick = "return confirm('確定要結單嗎?')", Class = "text-decoration-none btn btn-secondary mb-2" });
        }
    }
    <table class="table table-striped fw-bold" style=" text-align:center ; vertical-align:middle">
        <thead>
            <tr>
                <th scope="col">序號</th>
                <th scope="col">商品名稱</th>
                <th scope="col">商品圖片</th>
                <th scope="col">單價</th>
                <th scope="col">數量</th>
                <th scope="col">金額</th>
            </tr>
        </thead>
        <tbody>
            @{
                int count = 0;
                int pay = 0;
                foreach (var item in Model)
                {
                    count++;
                    pay += (int)item.ItemPrice;
                    @*<input type="hidden" value="@item.ProductId" name="ProductId" />
                        <input type="hidden" value="@item.Quantity" name="ChangedQty" />*@
                    <tr>
                        <th scope="row">@count</th>
                        <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                        <td><img src="~/img/@item.ProductImagePathOne" width="80" /></td>
                        <td>@Html.DisplayFor(modelItem => item.Price)</td>
                        <td><input type="text" class="form-control text-center" size="1" value="@item.Quantity" name="Quantity" readonly /></td>
                        <td>@Html.DisplayFor(modelItem => item.ItemPrice)</td>
                    </tr>
                }
                int total = pay + @ViewBag.Freight;
            }

        </tbody>

    </table>
    <hr>
    <div>
        <span class="text-primary fw-bold">購買人: </span>
        <span class="text-danger fw-bold mx-2">@ViewBag.username</span>
        <span class="text-primary fw-bold">付款方式: </span>
        <span class="text-danger fw-bold mx-2">@ViewBag.Pmethod</span>
        <span class="text-primary fw-bold">物流方式: </span>
        <span class="text-danger fw-bold mx-2">@ViewBag.Smethod</span>
        <span class="text-primary fw-bold">收件人: </span>
        <span class="text-danger fw-bold mx-2">@ViewBag.Receiver</span>
        <span class="text-primary fw-bold">寄送地址: </span>
        <span class="text-danger fw-bold mx-2">@ViewBag.RAddress</span>
    </div>
    <div class="mt-2 text-primary fw-bold">
        <span>商品金額:</span>
        <span class="text-danger fw-bold mx-2">@pay.ToString("###,###,##0")  元</span>
        <span>運費:</span>
        <span class="text-danger fw-bold mx-2">@ViewBag.Freight   元</span>
        <span>總金額:</span>
        <span class="text-danger fw-bold mx-2">@total.ToString("###,###,##0")   元</span>
    </div>
    <div class="mt-2 text-primary fw-bold">
        <span>訂單日期:</span>
        <span class="text-danger fw-bold mx-2">@ViewBag.ShipmentDate</span>
        @{
            if (@ViewBag.ShipDate != null)
            {
                <span>出貨日期:</span>
                <span class="text-danger fw-bold mx-2">@ViewBag.ShipDate</span>
            }
        }
    </div>
    <div class="mt-2 text-primary fw-bold">
        @{
            if (ViewBag.ArrivalTimeDate != null)
            {
                <span>送達日期:</span>
                <span class="text-danger fw-bold mx-2">@ViewBag.ArrivalTimeDate</span>
            }
            if (@ViewBag.PickDate != null)
            {
                <span>收貨日期:</span>
                <span class="text-danger fw-bold mx-2">@ViewBag.PickDate</span>
            }
            if (@ViewBag.CompletionDate != null)
            {
                <span>完成日期:</span>
                <span class="text-danger fw-bold mx-2">@ViewBag.CompletionDate</span>
            }
        }
    </div>
</div>
@**@
<div class="modal" id="cancelModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                確定要取消嗎?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal" id="cancelButton">取消</button>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal" id="confirmButton">確定</button>
            </div>
        </div>
    </div>
</div>
@**@
<div class="modal" id="shiplModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                確定要出貨嗎?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal" id="cancelButton">取消</button>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal" id="confirmButton">確定</button>
            </div>
        </div>
    </div>
</div>
@**@
<div class="modal" id="sendlModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                確定要送貨嗎?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal" id="cancelButton">取消</button>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal" id="confirmButton">確定</button>
            </div>
        </div>
    </div>
</div>
@**@
<div class="modal" id="compeletelModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                確定要結單嗎?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal" id="cancelButton">取消</button>
                <button type="button" class="btn btn-info" data-bs-dismiss="modal" id="confirmButton">確定</button>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
        <script>
            function cancleAlert()
            {
                $("#cancelModal").modal("show");
            }

            function shipAlert()
            {
                $("#shiplModal").modal("show");
            }

            function sendAlert()
            {
                $("#sendlModal").modal("show");
            }

            function compeleteAlert()
            {
                $("#compeletelModal").modal("show");
            }
        </script>
    }
