@model prjEShopping.Models.ViewModels.SellerLoginVM
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutUserLogin.cshtml";
}
<div class="bg-light">
    <div class="container pt-2 col-6">
        <!-- Header -->
        <div class="modal-header">
            <h3>會員登入</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <!-- Body -->
        <div class="modal-body">
            @using (Html.BeginForm("Login", "SellerLogin", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.EditorFor(model => model.SellerAccount, new { htmlAttributes = new { @class = "form-control mt-3", placeholder = "請輸入帳號", id = "SellerAccount" } })
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.SellerPassword, new { htmlAttributes = new { @class = "form-control mt-3", placeholder = "請輸入密碼", id = "SellerPassword" } })
                </div>
                <div class="form-group" style="float:right">
                    <input type="checkbox" class="remember">記住我的密碼
                </div>
                <br />
                <label class="error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                <div class="d-grid gap-2 mb-3">
                    <input type="submit" value="登入" class="btn btn-secondary mt-3" />
                    <input type="reset" value="取消" class="btn btn-secondary mt-3" />
                </div>
                <a target="_blank" href="@ViewBag.response" class="btn btn-success">Google 登入</a>
                <a href="@Url.Content("~/SellerLogin/SellerPasswordForgot")" class="link-blue text-decoration-none fw-bold">忘記密碼</a>
            }
        </div>
        <!-- Footer -->
        <div class="modal-footer">
            <div class="signup">
                <span>尚未成為會員?</span>
                <a href="@Url.Content("~/SellerRegister/Create")" type="button" class="link-blue text-decoration-none fw-bold"> 立即加入 </a>
            </div>
        </div>
    </div>
</div>