@model prjEShopping.Models.ViewModels.SellerLoginVM
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutUserLogin.cshtml";
}
<div class="bg-light" style=" height:600px">
    <div class="container pt-2 col-6">
        <!-- Header -->
        <div class="modal-header">
            <h3>會員登入</h3>
        </div>
        <!-- Body -->
        <div class="modal-body">
            @using (Html.BeginForm("Login", "SellerLogin", FormMethod.Post))
            {
                <div class="form-group">
                    @Html.EditorFor(model => model.SellerAccount, new { htmlAttributes = new { @class = "form-control mt-3", placeholder = "請輸入帳號", id = "SellerAccount" } })
                </div>
                <div class="form-group">
                    @Html.EditorFor(model => model.SellerPassword, new { htmlAttributes = new { @class = "form-control mt-3", placeholder = "請輸入密碼", id = "SellerPassword" } })
                </div>
                <div class="form-group" style="float:right">
                    <input type="checkbox" class="remember">記住我的密碼
                </div>
                <br />
                <label class="error">@Html.DisplayFor(model => model.LoginErrorMessage)</label>
                <div class="d-grid gap-2 mb-3">
                    <input type="submit" value="登入" class="btn btn-secondary mt-3" id="loginButton" />
                    <input type="reset" value="取消" class="btn btn-secondary mt-3" />
                </div>
                @*<a target="_blank" href="@ViewBag.response" class="btn btn-danger">Google 登入</a>*@
                <a href="@Url.Content("~/SellerLogin/SellerPasswordForgot")" class="link-blue text-decoration-none fw-bold" style="float:right">忘記密碼</a>
            }
        </div>
        <!-- Footer -->
        <br />

        <div class="modal-footer" style="height:100px">

            <div class="signup">
                <span>尚未成為會員?</span>
                <a href="@Url.Content("~/SellerRegister/Create")" type="button" class="link-blue text-decoration-none fw-bold" style="font-size:22px; color:red"> 立即加入!! </a>
            </div>
        </div>
        <div class="btn btn-light border border-3" id="btndemoLogin" style="float:left">SellerDemo</div>
    </div>
</div>

<!-- 模态框 -->
<div class="modal" id="errorModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @ViewBag.LoginErrorMessage
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="confirmButton">確定</button>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script>
        //$(function () {
        //    $('#errorModal').modal('show');
        //});

        const SellerAccount = document.querySelector('#SellerAccount');
        const SellerPassword = document.querySelector('#SellerPassword');

        const btndemoLogin = document.querySelector('#btndemoLogin');

        btndemoLogin.addEventListener('click', () => {
            SellerAccount.value = "Apple@gmail.com";
            SellerPassword.value = "Aa12345$";
        });
    </script>

}




