@model prjEShopping.Models.ViewModels.SellerPasswordChangeVM
@{
    ViewBag.Title = "NewPassword";
    Layout = "~/Views/Shared/_LayoutUserLogin.cshtml";
}
<div class="bg-light">
    <div class="container pt-2 col-6">
        <div class="modal-header">
            <h2>重設密碼</h2>
            @Html.AntiForgeryToken()
        </div>
        <form id="passwordForm" action="@Url.Action("NewPassword", "SellerLogin")" method="post">
            <div class="modal-body">
                <input type="text" name="Accounts" class="form-control" value="@ViewBag.Account" hidden>
                <div class="form-group">
                    <label for="newPassword">新密碼:</label>
                    <input type="password" id="NewPassword" name="NewPassword" class="form-control" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}$">
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                    <small class="text-danger" id="newPasswordError"></small>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">確認新密碼:</label>
                    <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" required>
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    <small class="text-danger" id="confirmPasswordError"></small>
                </div>
                <button type="submit" class="btn btn-primary my-2" id="submitBtn">送出</button>
                <a href="@Url.Action("Login", "SellerLogin")" class="btn btn-danger my-2">取消</a>
            </div>
        </form>
        <button class="btn btn-light border border-3 mb-3" id="DemonewPW">新密碼</button>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            $('#newPassword, #confirmPassword').on('input', function () {
                var newPassword = $('#newPassword').val();
                var confirmPassword = $('#confirmPassword').val();

                if (newPassword.length < 8 || !/[A-Z]/.test(newPassword) || !/[a-z]/.test(newPassword) || !/\d/.test(newPassword)) {
                    $('#newPasswordError').text("密碼必須至少8個字符，並包含大寫字母、小寫字母和數字。");
                    return;
                } else {
                    $('#newPasswordError').text("");
                }

                if (newPassword !== confirmPassword) {
                    $('#confirmPasswordError').text("兩個密碼不匹配。");
                    return;
                } else {
                    $('#confirmPasswordError').text("");
                }

                $('#submitBtn').prop('disabled', false);
            });

            $("#DemonewPW").on('click', function () {
                const NewPassword = document.querySelector('#NewPassword')
                const ConfirmPassword = document.querySelector('#ConfirmPassword')
                NewPassword.value = "Aa12346$"
                ConfirmPassword.value = "Aa12346$"
            })
        });
    </script>
}
