@model prjEShopping.Models.ViewModels.SellerPasswordChangeVM
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutSellerMain.cshtml";
}
<div class="col-8 col-md-9 col-lg-9 col-xl-10 container bg-warning rounded-2 border border-info border-1 ">
    <form method="post" enctype="multipart/form-data" action="ResetPassword" id="SellerChangePasswordForm">
        <p class="fs-4 mt-3 fw-bold">修改密碼</p>
        <hr>


        <div class="row mb-2">
            <div class="col-sm-5 col-md-3 d-flex align-items-center">
                <span>舊密碼：</span>
            </div>
            <div class="col-sm-4 col-md-3">
                <input type="password" class="form-control" name="OldPassword" id="OldPassword">
                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row mb-2">
            <div class="col-sm-5 col-md-3 d-flex align-items-center">
                <span>新密碼：</span>
            </div>
            <div class="col-sm-4 col-md-3">
                <input type="password" class="form-control" name="NewPassword" id="NewPassword">
                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row mb-2">
            <div class="col-sm-5 col-md-3 d-flex align-items-center">
                <span>確認密碼：</span>
            </div>
            <div class="col-sm-4 col-md-3">
                <input type="password" class="form-control" name="ConfirmPassword" id="ConfirmPassword">
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <button class="btn btn-secondary mb-3" type="submit" id="savesellerpassword">確定</button>

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
        }
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-danger">@TempData["SuccessMessage"]</div>
            <script>
                            setTimeout(function () {
                                window.location.href = '@Url.Action("Login", "SellerLogin")';
                            }, 5000);
            </script>
        }

    </form>
    <button class="btn btn-light border border-3 mb-3" id="DemonewPW">DemonewPW</button>
</div>


@section Scripts{
    <script>
        $(document).ready(async function () {

            //DEMO
            $("#DemonewPW").on('click', function () {
                const OldPassword = document.querySelector('#OldPassword')
                const NewPassword = document.querySelector('#NewPassword')
                const ConfirmPassword = document.querySelector('#ConfirmPassword')
                OldPassword.value = "Aa12345$"
                NewPassword.value = "Aa19970421$"
                ConfirmPassword.value = "Aa19970421$"
            })

        })
    </script>

}