@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LayoutSellerMain.cshtml";
}
<div class="col-8 col-md-9 col-lg-9 col-xl-10 container bg-warning rounded-2 border border-info border-1 ">
    <h2>變更密碼</h2>
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <span class="text-danger">@ViewBag.ErrorMessage</span>
    }
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
    {
        <div class="alert alert-success">@ViewBag.SuccessMessage</div>
        <script>
            setTimeout(function () {
                window.location.href = '@Url.Action("Login", "SellerLogin")'; // 導向到賣家登入頁面
            }, 3000); // 3秒後跳轉
        </script>
    }
    else
    {
        <form id="passwordForm" action="/SellerLogin/ResetPassword" method="post">
            <!-- 将 action 改为卖家的 EmailVT 动作 -->
            @Html.AntiForgeryToken()

            <input type="text" name="Account" class="form-control" value="@ViewBag.Account" hidden>
            <div class="form-group">
                <label for="newPassword">新密碼:</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,16}$">
                <small class="text-danger" id="newPasswordError"></small>
            </div>
            <div class="form-group">
                <label for="confirmPassword">確認新密碼:</label>
                <input type="password" id="confirmPassword" class="form-control" required>
                <small class="text-danger" id="confirmPasswordError"></small>
            </div>
            <button type="submit" class="btn btn-primary my-2" disabled id="submitBtn">送出</button>
            <a href="@Url.Action("Login", "SellerLogin")" class="btn btn-danger my-2">取消</a>
        </form>}
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#newPassword, #confirmPassword').on('input', function () {
                var newPassword = $('#newPassword').val();
                var confirmPassword = $('#confirmPassword').val();

                if (newPassword.length < 8 || !/[A-Z]/.test(newPassword) || !/[a-z]/.test(newPassword) || !/\d/.test(newPassword)) {
                    $('#newPasswordError').text("密碼必須至少8個字符，並包含大寫字母、小寫字母和數字。");
                    $('#submitBtn').prop('disabled', true);
                    return;
                } else {
                    $('#newPasswordError').text("");
                }

                if (newPassword !== confirmPassword) {
                    $('#confirmPasswordError').text("兩個密碼不匹配。");
                    $('#submitBtn').prop('disabled', true);
                    return;
                } else {
                    $('#confirmPasswordError').text("");
                }

                $('#submitBtn').prop('disabled', false);
            });
        });
    </script>
}
