
@{
    ViewBag.Title = "SellerPasswordForgot";
    Layout = "~/Views/Shared/_LayoutUserLogin.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link rel="stylesheet" href="sweetalert2.min.css">
<div class="bg-light">
    <div class="container pt-2 col-6">
        <div class="modal-header">
            <h2>忘記密碼</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </div>
        <div class="modal-body">
            <form method="post">
                <label>請輸入帳號信箱</label>
                <input type="text" class="form-control" id="SellerAccount" name="SellerAccount" required />
                <input type="submit" id="SendVerificationEmail" value="送出" class="btn btn-primary my-2" />
                <a href="@Url.Action("Login", "SellerLogin")" class="btn btn-danger my-2">取消</a>
            </form>
            @if (TempData["AccountOkMessage"] != null)
            {
                //<p class="text-danger">@ViewBag.Message</p>

                <script>
       Swal.fire(
'Good Job',
'@TempData["AccountOkMessage"]',
'success'
       );
                </script>
            }
            @if (TempData["AccountErrorMessage"] != null)
            {
                <script>
        Swal.fire(
        'Oops...',
        '@TempData["AccountErrorMessage"]',
        'error'
    )</script>
            }
        </div>
    </div>
</div>

