@model prjEShopping.Models.EFModels.Admin
@{
    ViewBag.Title = "AdminEdit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-9 bg-secondary ">
    <div class="container mt-2 ps-0 pe-0 ">
        <div class="container bg-info">
            <div class="row">
                <div class="col-7">
                    <form method="Post">
                        <div class="mb-3">
                            <input type="text" id="AdminId" name="AdminId" value="@Html.DisplayFor(model=>model.AdminId)" hidden />
                        </div>
                        <h3>帳號資料</h3>
                        <div class="mb-3">
                            <label class="form-label">@Html.DisplayNameFor(model => model.AdminNumber)</label>
                            <input type="text" class="form-control" name="AdminNumber" readonly value="@Html.DisplayFor(model => model.AdminNumber)">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">帳號(E-mail)</label>
                            <input type="email" class="form-control" name="AdminAccount" value="@Html.DisplayFor(model => model.AdminAccount)" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="inputPassword5" class="form-label">密碼</label>
                            <input type="password" id="inputPassword5" name="AdminPassword" readonly class="form-control"
                                   aria-describedby="passwordHelpBlock" value="@Html.DisplayFor(model => model.AdminPassword)">
                            <div id="passwordHelpBlock" class="form-text">
                                密碼為8~16碼數字加上英文大小寫。
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                變更密碼
                            </button>
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">變更密碼</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <label for="inputPassword5" class="form-label">舊密碼：</label>
                                            <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                                            <label for="inputPassword5" class="form-label">新密碼：</label>
                                            <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                                            <label for="inputPassword5" class="form-label">新密碼確認：</label>
                                            <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock">
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                                            <button type="button" class="btn btn-primary">確認更新</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <h3>個人資料</h3>
                        <div class="mb-3">
                            <label class="form-label">職稱：</label>
                            <input type="text" class="form-control" name="Title" value="@Html.DisplayFor(model => model.Title)">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">姓名：</label>
                            <input type="text" class="form-control" name="AdminName" value="@Html.DisplayFor(model => model.AdminName)">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">電話：</label>
                            <input type="text" class="form-control" name="Phone" value="@Html.DisplayFor(model => model.Phone)">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">入職時間：</label>
                            <input type="text" class="form-control" readonly name="DateOfHire" value="@Html.DisplayFor(model => model.DateOfHire)">
                        </div>
                        <select class="form-select" aria-label="Select2" name="JobStatus" value="@Html.DisplayNameFor(model => model.JobStatus)">
                            <option selected value="@Html.DisplayFor(model => model.JobStatus)">@Html.DisplayFor(model => model.JobStatus)</option>
                            <option value="1">狀態1</option>
                            <option value="2">狀態2</option>
                            <option value="3">狀態3</option>
                        </select>
                        <input type="text" name="PermissionsId" value="@Html.DisplayFor(model => model.PermissionsId)" hidden>
                        <button type="submit" class="btn btn-primary  my-3">更新資料</button>
                    </form>
                </div>
            </div>
            <br />
            <h3>權限變更</h3>
            <div class="col-4 ">
                <div class="mb-3">
                    <label class="form-label">管理權限：</label>
                    <input type="text" class="form-control" readonly name="PermissionsId" value="@Html.DisplayFor(model => model.PermissionsId)">
                </div>
                <div class="mb-3">
                    <label class="form-label">權限轉移：</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>轉移帳號</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <button class="btn btn-primary my-3">轉移確認</button>
                </div>
            </div>
        </div>
    </div>
</div>


